openapi: 3.0.0
servers:
  - url: 'https://api-eu1.tatum.io'
info:
  version: 1.0.0
  title: Tatum MultiToken Abstraction API
tags:
  - description: |
      <p>MultiToken is a type of contract where multiple NFT or "non-fungible token" can be deployed with FT "Fungible Tokens". Non-fungible means that each token is unique and irreplaceable while Fungible tokens are tokens that have same value. This principle gives MultiToken their value and gives rise to a wide range of interesting potential use cases.<br/>
      MultiTokens can be used for nearly any digital asset or good to ensure authenticity and scarcity. The possibilities are endless, but here are a few example use cases:
      <ul>
      <li><b>In-game assets</b> - MultiTokens can be used to create unique collectibles in the form of characters, weapons, skins, or other equipment. Players can resell or trade assets directly as they choose, and their authenticity is easily verifiable. No more eBay, no more scammers.</li>
      <li><b>Music and other digital media</b> - MultiTokens can be used to create rare and unique collectible digital releases. Similarly, NFTs can be used to sell videos, art, or any other type of digital media. Collectors can own digital originals of their favorite songs, movies, or virtually anything else you can imagine.</li>
      <li><b>Digital sports merch</b> - Trading cards, memorabilia, classic moments in sports history, and one-of-a-kind experiences can also be sold as NFTs, opening up a world of possibilities for sports leagues and teams worldwide. The NBA Top Shot website sells collectible “moments” from the league’s history, and at the time of writing, the website is completely sold out and closed for new sign-ups.</li>
      <br/>
      These endpoints wraps up standard MultiToken implementation and operations, which can be done with them. Endpoints are blockchain agnostic, the only differentatior is the <b>chain</b> parameter in the URL path.<br/><br/>
      Tatum now supports MultiToken on these blockchains:<br/>
      <ul>
      <li><b>Ethereum</b></li>
      <li><b>Celo</b></li>
      <li><b>Flow</b></li>
      <li><b>Binance Smart Chain</b></li>
      </ul>
      </p>
    name: Blockchain / MultiToken
paths:
  /v3/multitoken/deploy:
    post:
      description: |
        <p>Deploy MultiToken Smart Contract. This method creates new ERC1155 Smart Contract (Non-Fungible MultiTokens) on the blockchain. Smart contract is standardized and audited.
        It is possible to mint, burn and transfer tokens. It is also possible to mint multiple tokens at once.<br/>
        Tatum now supports MultiTokens on these blockchains:<br/>
        <ul>
        <li><b>Ethereum</b></li>
        <li><b>Celo</b></li>
        <li><b>Flow</b></li>
        <li><b>Binance Smart Chain</b></li>
        </ul>

        This operation needs the private key of the blockchain address. Every time the funds are transferred, the transaction must be signed with the corresponding private key.
        No one should ever send it's own private keys to the internet because there is a strong possibility of stealing keys and loss of funds. In this method, it is possible to enter privateKey
        or signatureId. PrivateKey should be used only for quick development on testnet versions of blockchain when there is no risk of losing funds. In production,
        <a href="https://github.com/tatumio/tatum-kms" target="_blank">Tatum KMS</a> should be used for the highest security standards, and signatureId should be present in the request.
        Alternatively, using the Tatum client library for supported languages or Tatum Middleware with a custom key management system is possible.
        </p>
      operationId: DeployMultiToken
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/DeployMultiTokenCelo"
                - $ref: "#/components/schemas/DeployMultiTokenCeloKMS"
                - $ref: "#/components/schemas/DeployMultiToken"
                - $ref: "#/components/schemas/DeployMultiTokenKMS"
                - $ref: "#/components/schemas/DeployMultiTokenFlowPK"
                - $ref: "#/components/schemas/DeployMultiTokenFlowMnemonic"
                - $ref: "#/components/schemas/DeployMultiTokenFlowKMS"
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/TransactionHashKMS"
                  - $ref: "#/components/schemas/SignatureId"
          description: OK
        400: &API400
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error400"
          description: Bad Request. Validation failed for the given object in the HTTP Body or Request parameters.
        401: &API401
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/Error401NotActive"
                  - $ref: "#/components/schemas/Error401Invalid"
          description: Unauthorized. Not valid or inactive subscription key present in the HTTP Header.
        403: &API403
          description: Forbidden. The request is authenticated, but it is not possible to required perform operation due to logical error or invalid permissions.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/Error403"
        500: &API500
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error500"
          description: Internal server error. There was an error on the server during the processing of the request.
      security:
        - X-Api-Key: [ ]
      x-code-samples:
      summary: Deploy MultiToken Smart Contract.
      tags:
        - Blockchain / MultiToken
  /v3/multitoken/mint:
    post:
      description: |
        <h4>2 credits per API call.</h4><br/>
        <p>Create one NFT Token and transfer it to destination account. Create and transfer any NFT token from smart contract defined in contractAddress.
        It is possible to add URL to the created token with a more detailed information about it.<br/><br/>
        Tatum now supports NFT these blockchains:<br/>
        <ul>
        <li><b>Ethereum</b></li>
        <li><b>Celo</b></li>
        <li><b>Flow</b></li>
        <li><b>Binance Smart Chain</b></li>
        </ul>
        This operation needs the private key of the blockchain address. Every time the funds are transferred, the transaction must be signed with the corresponding private key.
        No one should ever send it's own private keys to the internet because there is a strong possibility of stealing keys and loss of funds. In this method, it is possible to enter privateKey
        or signatureId. PrivateKey should be used only for quick development on testnet versions of blockchain when there is no risk of losing funds. In production,
        <a href="https://github.com/tatumio/tatum-kms" target="_blank">Tatum KMS</a> should be used for the highest security standards, and signatureId should be present in the request.
        Alternatively, using the Tatum client library for supported languages or Tatum Middleware with a custom key management system is possible.
        </p>
      operationId: MintMultiToken
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/MintMultiTokenCelo"
                - $ref: "#/components/schemas/MintMultiTokenKMSCelo"
                - $ref: "#/components/schemas/MintMultiToken"
                - $ref: "#/components/schemas/MintMultiTokenKMS"
                - $ref: "#/components/schemas/MintMultiTokenFlowPK"
                - $ref: "#/components/schemas/MintMultiTokenFlowMnemonic"
                - $ref: "#/components/schemas/MintMultiTokenFlowKMS"
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/TransactionHashKMS"
                  - $ref: "#/components/schemas/FlowMintedResult"
                  - $ref: "#/components/schemas/SignatureId"
          description: OK
        400:
          <<: *API400
        401:
          <<: *API401
        403:
          description: Forbidden. The request is authenticated, but it is not possible to required perform operation due to logical error or invalid permissions.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/Error403Celo"
        500:
          <<: *API500
      security:
        - X-Api-Key: [ ]
      x-code-samples:
      summary: Mint MultiToken
      tags:
        - Blockchain / MultiToken
  /v3/nft/mint/batch:
    post:
      description: |
        <h4>2 credits per API call.</h4><br/>
        <p>Create multiple NFT Tokens and transfer them to destination account. Create and transfer any NFT tokens from smart contract defined in contractAddress.<br/><br/>
        Tatum now supports NFT these blockchains:<br/>
        <ul>
        <li><b>Ethereum</b></li>
        <li><b>Celo</b></li>
        <li><b>Flow</b></li>
        <li><b>Binance Smart Chain</b></li>
        </ul>
        This operation needs the private key of the blockchain address. Every time the funds are transferred, the transaction must be signed with the corresponding private key.
        No one should ever send it's own private keys to the internet because there is a strong possibility of stealing keys and loss of funds. In this method, it is possible to enter privateKey
        or signatureId. PrivateKey should be used only for quick development on testnet versions of blockchain when there is no risk of losing funds. In production,
        <a href="https://github.com/tatumio/tatum-kms" target="_blank">Tatum KMS</a> should be used for the highest security standards, and signatureId should be present in the request.
        Alternatively, using the Tatum client library for supported languages or Tatum Middleware with a custom key management system is possible.
        </p>
      operationId: MintMultiTokenBatch
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/MintMultiTokenBatchCelo"
                - $ref: "#/components/schemas/MintMultiTokenBatchKMSCelo"
                - $ref: "#/components/schemas/MintMultiTokenBatch"
                - $ref: "#/components/schemas/MintMultiTokenBatchKMS"
                - $ref: "#/components/schemas/MintMultiTokenBatchFlowPK"
                - $ref: "#/components/schemas/MintMultiTokenBatchFlowMnemonic"
                - $ref: "#/components/schemas/MintMultiTokenBatchFlowKMS"
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/TransactionHashKMS"
                  - $ref: "#/components/schemas/FlowMintedMultipleResult"
                  - $ref: "#/components/schemas/SignatureId"
          description: OK
        400:
          <<: *API400
        401:
          <<: *API401
        403:
          description: Forbidden. The request is authenticated, but it is not possible to required perform operation due to logical error or invalid permissions.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/Error403Celo"
        500:
          <<: *API500
      security:
        - X-Api-Key: [ ]
      x-code-samples:
      summary: Mint MultiToken Batch
      tags:
        - Blockchain / MultiToken
  /v3/multitoken/burn:
    post:
      description: |
        <h4>2 credits per API call.</h4><br/>
        <p>Burn NFT Tokens. This method destroys any NFT token from smart contract defined in contractAddress.<br/><br/>
        Tatum now supports NFT these blockchains:<br/>
        <ul>
        <li><b>Ethereum</b></li>
        <li><b>Celo</b></li>
        <li><b>Flow</b></li>
        <li><b>Binance Smart Chain</b></li>
        </ul>
        This operation needs the private key of the blockchain address. Every time the funds are transferred, the transaction must be signed with the corresponding private key.
        No one should ever send it's own private keys to the internet because there is a strong possibility of stealing keys and loss of funds. In this method, it is possible to enter privateKey
        or signatureId. PrivateKey should be used only for quick development on testnet versions of blockchain when there is no risk of losing funds. In production,
        <a href="https://github.com/tatumio/tatum-kms" target="_blank">Tatum KMS</a> should be used for the highest security standards, and signatureId should be present in the request.
        Alternatively, using the Tatum client library for supported languages or Tatum Middleware with a custom key management system is possible.
        </p>
      operationId: BurnMultiToken
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/BurnMultiTokenCelo"
                - $ref: "#/components/schemas/BurnMultiTokenKMSCelo"
                - $ref: "#/components/schemas/BurnMultiToken"
                - $ref: "#/components/schemas/BurnMultiTokenKMS"
                - $ref: "#/components/schemas/BurnMultiTokenFlowPK"
                - $ref: "#/components/schemas/BurnMultiTokenFlowMnemonic"
                - $ref: "#/components/schemas/BurnMultiTokenFlowKMS"
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/TransactionHashKMS"
                  - $ref: "#/components/schemas/SignatureId"
          description: OK
        400:
          <<: *API400
        401:
          <<: *API401
        403:
          description: Forbidden. The request is authenticated, but it is not possible to required perform operation due to logical error or invalid permissions.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/Error403Celo"
        500:
          <<: *API500
      security:
        - X-Api-Key: [ ]
      x-code-samples:
      summary: Burn MultiToken
      tags:
        - Blockchain / MultiToken
  /v3/multitoken/burn/batch:
    post:
      description: |
        <h4>2 credits per API call.</h4><br/>
        <p>Burn multiple MultiToken Tokens. This method destroys any NFT token from smart contract defined in contractAddress.<br/><br/>
        Tatum now supports NFT these blockchains:<br/>
        <ul>
        <li><b>Ethereum</b></li>
        <li><b>Celo</b></li>
        <li><b>Flow</b></li>
        <li><b>Binance Smart Chain</b></li>
        </ul>
        This operation needs the private key of the blockchain address. Every time the funds are transferred, the transaction must be signed with the corresponding private key.
        No one should ever send it's own private keys to the internet because there is a strong possibility of stealing keys and loss of funds. In this method, it is possible to enter privateKey
        or signatureId. PrivateKey should be used only for quick development on testnet versions of blockchain when there is no risk of losing funds. In production,
        <a href="https://github.com/tatumio/tatum-kms" target="_blank">Tatum KMS</a> should be used for the highest security standards, and signatureId should be present in the request.
        Alternatively, using the Tatum client library for supported languages or Tatum Middleware with a custom key management system is possible.
        </p>
      operationId: BurnMultiTokenBatch
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/BurnMultiTokenBatchCelo"
                - $ref: "#/components/schemas/BurnMultiTokenBatchKMSCelo"
                - $ref: "#/components/schemas/BurnMultiTokenBatch"
                - $ref: "#/components/schemas/BurnMultiTokenBatchKMS"
                - $ref: "#/components/schemas/BurnMultiTokenBatchFlowPK"
                - $ref: "#/components/schemas/BurnMultiTokenBatchFlowMnemonic"
                - $ref: "#/components/schemas/BurnMultiTokenBatchFlowKMS"
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/TransactionHashKMS"
                  - $ref: "#/components/schemas/SignatureId"
          description: OK
        400:
          <<: *API400
        401:
          <<: *API401
        403:
          description: Forbidden. The request is authenticated, but it is not possible to required perform operation due to logical error or invalid permissions.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/Error403Celo"
        500:
          <<: *API500
      security:
        - X-Api-Key: [ ]
      x-code-samples:
      summary: Burn MultiToken Batch
      tags:
        - Blockchain / MultiToken
  /v3/multitoken/transaction:
    post:
      description: |
        <h4>2 credits per API call.</h4><br/>
        <p>Transfer MultiToken Tokens from account to account. Transfer any NFT token from smart contract defined in contractAddress.
        Only 1 specific token with specified tokenId and value can be transfered. This method invokes ERC721 method safeTransfer() to transfer the token in case of ETH, Celo and BSC.<br/><br/>
        Tatum now supports NFT these blockchains:<br/>
        <ul>
        <li><b>Ethereum</b></li>
        <li><b>Flow</b></li>
        <li><b>Celo</b></li>
        <li><b>Binance Smart Chain</b></li>
        </ul>
        This operation needs the private key of the blockchain address. Every time the funds are transferred, the transaction must be signed with the corresponding private key.
        No one should ever send it's own private keys to the internet because there is a strong possibility of stealing keys and loss of funds. In this method, it is possible to enter privateKey
        or signatureId. PrivateKey should be used only for quick development on testnet versions of blockchain when there is no risk of losing funds. In production,
        <a href="https://github.com/tatumio/tatum-kms" target="_blank">Tatum KMS</a> should be used for the highest security standards, and signatureId should be present in the request.
        Alternatively, using the Tatum client library for supported languages or Tatum Middleware with a custom key management system is possible.
        </p>
      operationId: TransferMultiToken
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/TransferMultiToken"
                - $ref: "#/components/schemas/TransferMultiTokenCelo"
                - $ref: "#/components/schemas/TransferMultiTokenKMS"
                - $ref: "#/components/schemas/TransferMultiTokenKMSCelo"
                - $ref: "#/components/schemas/TransferMultiTokenFlowPK"
                - $ref: "#/components/schemas/TransferMultiTokenFlowMnemonic"
                - $ref: "#/components/schemas/TransferMultiTokenFlowKMS"
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/TransactionHashKMS"
                  - $ref: "#/components/schemas/SignatureId"
          description: OK
        400:
          <<: *API400
        401:
          <<: *API401
        403:
          description: Forbidden. The request is authenticated, but it is not possible to required perform operation due to logical error or invalid permissions.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/Error403Celo"
        500:
          <<: *API500
      security:
        - X-Api-Key: [ ]
      x-code-samples:
      summary: Transfer MultiToken Token
      tags:
        - Blockchain / MultiToken
  /v3/multitoken/transaction/batch:
    post:
      description: |
        <h4>2 credits per API call.</h4><br/>
        <p>Transfer MultiToken Tokens from account to account. Transfer any NFT token from smart contract defined in contractAddress.
        Multiple token with specified tokenIds and values can be transfered. This method invokes ERC721 method safeTransfer() to transfer the token in case of ETH, Celo and BSC.<br/><br/>
        Tatum now supports MultiTokens these blockchains:<br/>
        <ul>
        <li><b>Ethereum</b></li>
        <li><b>Flow</b></li>
        <li><b>Celo</b></li>
        <li><b>Binance Smart Chain</b></li>
        </ul>
        This operation needs the private key of the blockchain address. Every time the funds are transferred, the transaction must be signed with the corresponding private key.
        No one should ever send it's own private keys to the internet because there is a strong possibility of stealing keys and loss of funds. In this method, it is possible to enter privateKey
        or signatureId. PrivateKey should be used only for quick development on testnet versions of blockchain when there is no risk of losing funds. In production,
        <a href="https://github.com/tatumio/tatum-kms" target="_blank">Tatum KMS</a> should be used for the highest security standards, and signatureId should be present in the request.
        Alternatively, using the Tatum client library for supported languages or Tatum Middleware with a custom key management system is possible.
        </p>
      operationId: TransferMultiTokenBatch
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/TransferMultiTokenBatch"
                - $ref: "#/components/schemas/TransferMultiTokenBatchCelo"
                - $ref: "#/components/schemas/TransferMultiTokenBatchKMS"
                - $ref: "#/components/schemas/TransferMultiTokenBatchKMSCelo"
                - $ref: "#/components/schemas/TransferMultiTokenBatchFlowPK"
                - $ref: "#/components/schemas/TransferMultiTokenBatchFlowMnemonic"
                - $ref: "#/components/schemas/TransferMultiTokenBatchFlowKMS"
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/TransactionHashKMS"
                  - $ref: "#/components/schemas/SignatureId"
          description: OK
        400:
          <<: *API400
        401:
          <<: *API401
        403:
          description: Forbidden. The request is authenticated, but it is not possible to required perform operation due to logical error or invalid permissions.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/Error403Celo"
        500:
          <<: *API500
      security:
        - X-Api-Key: [ ]
      x-code-samples:
      summary: Transfer MultiToken Batch
      tags:
        - Blockchain / MultiToken
  /v3/multitoken/royalty:
    put:
      description: |
        <h4>2 credits per API call.</h4><br/>
        <p>Update royalty cashback value for one MultiToken Token. This method updates the first royalty value of specific author for 1 token.
        If royalty value is set to 0, it will disable the royalty system for the token. Only from author's address of the royalty can change it's royalty value, not the owner of the token.<br/><br/>
        Tatum now supports MultiToken these blockchains:<br/>
        <ul>
        <li><b>Ethereum</b></li>
        <li><b>Celo</b></li>
        <li><b>Binance Smart Chain</b></li>
        </ul>
        This operation needs the private key of the blockchain address. Every time the funds are transferred, the transaction must be signed with the corresponding private key.
        No one should ever send it's own private keys to the internet because there is a strong possibility of stealing keys and loss of funds. In this method, it is possible to enter privateKey
        or signatureId. PrivateKey should be used only for quick development on testnet versions of blockchain when there is no risk of losing funds. In production,
        <a href="https://github.com/tatumio/tatum-kms" target="_blank">Tatum KMS</a> should be used for the highest security standards, and signatureId should be present in the request.
        Alternatively, using the Tatum client library for supported languages or Tatum Middleware with a custom key management system is possible.
        </p>
      operationId: UpdateCashbackValueForAuthorMultiToken
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/UpdateCashbackValueForAuthorMultiTokenCelo"
                - $ref: "#/components/schemas/UpdateCashbackValueForAuthorMultiTokenKMSCelo"
                - $ref: "#/components/schemas/UpdateCashbackValueForAuthorMultiToken"
                - $ref: "#/components/schemas/UpdateCashbackValueForAuthorMultiTokenKMS"
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/TransactionHashKMS"
                  - $ref: "#/components/schemas/SignatureId"
          description: OK
        400:
          <<: *API400
        401:
          <<: *API401
        403:
          description: Forbidden. The request is authenticated, but it is not possible to required perform operation due to logical error or invalid permissions.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/Error403Celo"
        500:
          <<: *API500
      security:
        - X-Api-Key: [ ]
      x-code-samples:
      summary: Update Royalty MultiToken
      tags:
        - Blockchain / MultiToken
  /v3/multitoken/address/{chain}/{hash}:
    get:
      description: "<h4>1 credit per API call.</h4><br/><p>Get NFT contract address from deploy transaction.</p>"
      operationId: MultiTokenGetContractAddress
      parameters:
        - description: Blockchain to work with
          in: path
          name: chain
          required: true
          schema:
            type: string
            enum:
              - ETH
              - CELO
              - FLOW
              - BSC
        - description: "Transaction hash"
          in: path
          name: hash
          required: true
          schema:
            type: string
            example: "0xe6e7340394958674cdf8606936d292f565e4ecc476aaa8b258ec8a141f7c75d7"
      responses:
        200:
          content:
            application/json:
              schema:
                type: object
                properties:
                  contractAddress:
                    type: string
                    description: Address of the NFT token.
                    example: "0xc21C81ef03f98898Fb155E00C364e8a7b9D158b8"
          description: OK
        400:
          <<: *API400
        401:
          <<: *API401
        403:
          description: Forbidden. The request is authenticated, but it is not possible to required perform operation due to logical error or invalid permissions.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/Error403TxNotFound"
        500:
          <<: *API500
      security:
        - X-Api-Key: [ ]
      x-code-samples:
      summary: Get Transaction
      tags:
        - Blockchain / MultiToken
  /v3/multitoken/transaction/{chain}/{hash}:
    get:
      description: "<h4>1 credit per API call.</h4><br/><p>Get NFT transaction by transaction hash.</p>"
      operationId: MultiTokenGetTransact
      parameters:
        - description: Blockchain to work with
          in: path
          name: chain
          required: true
          schema:
            type: string
            enum:
              - ETH
              - CELO
              - FLOW
              - BSC
        - description: "Transaction hash"
          in: path
          name: hash
          required: true
          schema:
            type: string
            example: "0xe6e7340394958674cdf8606936d292f565e4ecc476aaa8b258ec8a141f7c75d7"
      responses:
        200:
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/CeloTx"
                  - $ref: "#/components/schemas/EthTx"
                  - $ref: "#/components/schemas/FlowTx"
          description: OK
        400:
          <<: *API400
        401:
          <<: *API401
        403:
          description: Forbidden. The request is authenticated, but it is not possible to required perform operation due to logical error or invalid permissions.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/Error403TxNotFound"
        500:
          <<: *API500
      security:
        - X-Api-Key: [ ]
      x-code-samples:
      summary: Get Transaction
      tags:
        - Blockchain / MultiToken
  /v3/multitoken/balance/{chain}/{contractAddress}/{address}:
    get:
      description: "<h4>1 credit per API call.</h4><br/><p>Get NFTs on Account. Returns tokenIDs of tokens Account holds.</p>"
      operationId: MultiTokenGetBalance
      parameters:
        - description: Blockchain to work with
          in: path
          name: chain
          required: true
          schema:
            type: string
            enum:
              - ETH
              - CELO
              - FLOW
              - BSC
        - description: "Account address"
          in: path
          name: address
          required: true
          schema:
            type: string
            example: "0x3223AEB8404C7525FcAA6C512f91e287AE9FfE7B"
        - description: "MultiToken contract address"
          in: path
          name: contractAddress
          required: true
          schema:
            type: string
            example: "0x94Ce79B9F001E25BBEbE7C01998A78F7B27D1326"
      responses:
        200:
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  description: Token ID.
                  example: "10"
          description: OK
        400:
          <<: *API400
        401:
          <<: *API401
        403:
          description: Forbidden. The request is authenticated, but it is not possible to required perform operation due to logical error or invalid permissions.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error403Celo"
        500:
          <<: *API500
      security:
        - X-Api-Key: [ ]
      x-code-samples:
      summary: Get MultiToken Account balance
      tags:
        - Blockchain / MultiToken
  /v3/multitoken/metadata/{chain}/{contractAddress}/{token}:
    get:
      description: "<h4>1 credit per API call.</h4><br/><p>Get NFT token metadata.</p>"
      operationId: MultiTokenGetMetadata
      parameters:
        - description: Blockchain to work with
          in: path
          name: chain
          required: true
          schema:
            type: string
            enum:
              - ETH
              - CELO
              - BSC
        - description: "Token ID"
          in: path
          name: token
          required: true
          schema:
            type: string
            example: "1"
            maxLength: 32
        - description: "MultiToken contract address"
          in: path
          name: contractAddress
          required: true
          schema:
            type: string
            example: "0x94Ce79B9F001E25BBEbE7C01998A78F7B27D1326"
        - description: Account holding this token. FLOW only.
          in: query
          required: false
          name: account
          schema:
            type: string
            example: "0xc1b45bc27b9c61c3"
      responses:
        200:
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: string
                    description: Metadata associated with token.
                    example: "https://my_token_data.com"
          description: OK
        400:
          <<: *API400
        401:
          <<: *API401
        403:
          description: Forbidden. The request is authenticated, but it is not possible to required perform operation due to logical error or invalid permissions.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error403Celo"
        500:
          <<: *API500
      security:
        - X-Api-Key: [ ]
      x-code-samples:
      summary: Get MultiToken Token Metadata
      tags:
        - Blockchain / MultiToken
  /v3/multitoken/royalty/{chain}/{contractAddress}/{token}:
    get:
      description: "<h4>1 credit per API call.</h4><br/><p>Get NFT token royalty.</p>"
      operationId: MultiTokenGetRoyalty
      parameters:
        - description: Blockchain to work with
          in: path
          name: chain
          required: true
          schema:
            type: string
            enum:
              - ETH
              - CELO
              - BSC
        - description: "Token ID"
          in: path
          name: token
          required: true
          schema:
            type: string
            example: "1"
            maxLength: 32
        - description: "MultiToken contract address"
          in: path
          name: contractAddress
          required: true
          schema:
            type: string
            example: "0x94Ce79B9F001E25BBEbE7C01998A78F7B27D1326"
      responses:
        200:
          content:
            application/json:
              schema:
                type: object
                properties:
                  addresses:
                    type: array
                    description: Addresses of the authors where cashback will be paid.
                    items:
                      type: string
                      example: "0x94Ce79B9F001E25BBEbE7C01998A78F7B27D1326"
                  values:
                    type: array
                    description: Values of the royalties, which will be paid to the authors with every token transfer. Amount is in native asset of the blockchain.
                    items:
                      type: string
                      example: "0.2"
          description: OK
        400:
          <<: *API400
        401:
          <<: *API401
        403:
          description: Forbidden. The request is authenticated, but it is not possible to required perform operation due to logical error or invalid permissions.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error403Celo"
        500:
          <<: *API500
      security:
        - X-Api-Key: [ ]
      x-code-samples:
      summary: Get NFT Token Royalty information
      tags:
        - Blockchain / MultiToken
components:
  securitySchemes:
    X-Api-Key:
      description: |
        To maintain the highest security level, Tatum requires X-API-Key HTTP header.
        This X-API-Key represents identification of the plan and can be used by 1 developer or per environment.
        Each X-API-Key is bound to the test or production blockchains.
      in: header
      name: x-api-key
      type: apiKey
  schemas:
    TransferMultiTokenCelo:
      type: object
      properties:
        value:
          type: string
          description: If token to be transferred is Royalty NFT token, this is a value to be paid as a cashback to the authors of the token.
          example: "1"
        chain:
          type: string
          example: CELO
          description: Chain to work with.
          enum:
            - CELO
        to:
          maxLength: 42
          minLength: 42
          description: Blockchain address to send NFT token to
          example: "0x687422eEA2cB73B5d3e242bA5456b782919AFc85"
          type: string
        tokenId:
          description: ID of token.
          example: "100000"
          type: string
          maxLength: 256
        amount:
          description: Amount of token.
          example: "100000"
          type: string
          maxLength: 256
        contractAddress:
          maxLength: 42
          minLength: 42
          description: Address of NFT token
          example: "0x687422eEA2cB73B5d3e242bA5456b782919AFc85"
          type: string
        fromPrivateKey:
          type: string
          maxLength: 66
          example: "0x05e150c73f1920ec14caa1e0b6aa09940899678051a78542840c2668ce5080c2"
          minLength: 66
          description: Private key of sender address. Private key, or signature Id must be present.
        nonce:
          type: number
          example: 1
          description: Nonce to be set to Celo transaction. If not present, last known nonce will be used.
        feeCurrency:
          type: string
          description: Currency to pay for transaction gas
          enum:
            - CELO
            - CUSD
            - CEUR
      required:
        - chain
        - to
        - contractAddress
        - tokenId
        - fromPrivateKey
    TransferMultiTokenBatchCelo:
      type: object
      properties:
        value:
          type: string
          description: If token to be transferred is Royalty NFT token, this is a value to be paid as a cashback to the authors of the token.
          example: "1"
        chain:
          type: string
          example: CELO
          description: Chain to work with.
          enum:
            - CELO
        to:
          maxLength: 42
          minLength: 42
          description: Blockchain address to send NFT token to
          example: "0x687422eEA2cB73B5d3e242bA5456b782919AFc85"
          type: string
        tokenId:
          description: ID of token.
          example: ["100000"]
          type: array
          items:
            type: string
            maxLength: 32
        amounts:
          description: Amount of token.
          example: ["100000"]
          type: array
          items:
            type: string
            maxLength: 32
        contractAddress:
          maxLength: 42
          minLength: 42
          description: Address of NFT token
          example: "0x687422eEA2cB73B5d3e242bA5456b782919AFc85"
          type: string
        fromPrivateKey:
          type: string
          maxLength: 66
          example: "0x05e150c73f1920ec14caa1e0b6aa09940899678051a78542840c2668ce5080c2"
          minLength: 66
          description: Private key of sender address. Private key, or signature Id must be present.
        nonce:
          type: number
          example: 1
          description: Nonce to be set to Celo transaction. If not present, last known nonce will be used.
        feeCurrency:
          type: string
          description: Currency to pay for transaction gas
          enum:
            - CELO
            - CUSD
            - CEUR
      required:
        - chain
        - to
        - contractAddress
        - tokenId
        - fromPrivateKey
    DeployMultiTokenCelo:
      type: object
      properties:
        chain:
          type: string
          example: CELO
          description: Chain to work with.
          enum:
            - CELO
        uri:
          description: URI of the NFT token
          example: example.com
          maxLength: 100
          minLength: 1
          type: string
        fromPrivateKey:
          description: Private key of Ethereum account address, from which gas for deployment of ERC721 will be paid. Private key, or signature Id must be present.
          type: string
          maxLength: 66
          example: "0x05e150c73f1920ec14caa1e0b6aa09940899678051a78542840c2668ce5080c2"
          minLength: 66
        nonce:
          type: number
          minimum: 0
          description: Nonce to be set to Ethereum transaction. If not present, last known nonce will be used.
        feeCurrency:
          type: string
          description: Currency to pay for transaction gas
          enum:
            - CELO
            - CUSD
            - CEUR
      required:
        - chain
        - name
        - symbol
        - feeCurrency
        - fromPrivateKey
    DeployMultiTokenCeloKMS:
      type: object
      properties:
        chain:
          type: string
          example: CELO
          description: Chain to work with.
          enum:
            - CELO
        uri:
          description: Name of the MultiToken token
          example: example.com
          maxLength: 100
          minLength: 1
          type: string
        index:
          type: number
          minimum: 0
          description: If signatureId is mnemonic-based, this is the index to the specific address from that mnemonic.
        signatureId:
          type: string
          minLength: 36
          maxLength: 36
          format: uuid
          example: 26d3883e-4e17-48b3-a0ee-09a3e484ac83
          description: Identifier of the private key associated in signing application. Private key, or signature Id must be present.
        nonce:
          type: number
          minimum: 0
        feeCurrency:
          type: string
          description: Currency to pay for transaction gas
          enum:
            - CELO
            - CUSD
            - CEUR
      required:
        - chain
        - name
        - symbol
        - feeCurrency
        - signatureId
    MintMultiTokenBatchKMSCelo:
      type: object
      properties:
        chain:
          type: string
          example: CELO
          description: Chain to work with.
          enum:
            - CELO
        to:
          type: array
          description: Blockchain address to send NFT token to.
          example: [ "0x687422eEA2cB73B5d3e242bA5456b782919AFc85" ]
          items:
            maxLength: 42
            minLength: 42
            type: string
        tokenId:
          type: array
          description: ID of token to be created.
          example: [ "100000" ]
          items:
            type: string
            maxLength: 32
        amounts:
          type: array
          description: ID of token to be created.
          example: [ "100000" ]
          items:
            type: string
            maxLength: 32
        authorAddresses:
          type: array
          description: List of addresses for every token, where royalty cashback for every transfer of this NFT will be send. Royalties are paid in native blockchain currency CELO.
          items:
            type: array
            items:
              type: string
              minLength: 42
              maxLength: 42
              description: Blockchain address to send royalties to
              example: "0x687422eEA2cB73B5d3e242bA5456b782919AFc85"
        cashbackValues:
          type: array
          description: List of values for every token, which will be paid as a royalty for author of the NFT token with every token transfer. This is exact value in native blockhain currency.
          items:
            type: array
            items:
              type: string
              description: Value of the royalty to be paid.
              example: "0.5"
        contractAddress:
          maxLength: 42
          minLength: 42
          description: Address of MultiToken token
          example: "0x687422eEA2cB73B5d3e242bA5456b782919AFc85"
          type: string
        index:
          type: number
          minimum: 0
          description: If signatureId is mnemonic-based, this is the index to the specific address from that mnemonic.
        signatureId:
          type: string
          minLength: 36
          maxLength: 36
          format: uuid
          example: 26d3883e-4e17-48b3-a0ee-09a3e484ac83
          description: Identifier of the private key associated in signing application. Private key, or signature Id must be present.
        nonce:
          type: number
          minimum: 0
          description: Nonce to be set to Celo transaction. If not present, last known nonce will be used.
        feeCurrency:
          type: string
          description: Currency to pay for transaction gas
          enum:
            - CELO
            - CUSD
            - CEUR
      required:
        - chain
        - to
        - contractAddress
        - feeCurrency
        - tokenId
        - url
        - signatureId
    BurnMultiTokenCelo:
      type: object
      properties:
        chain:
          type: string
          example: CELO
          description: Chain to work with.
          enum:
            - CELO
        tokenId:
          description: ID of token to be destroyed.
          example: "100000"
          type: string
          maxLength: 32
        amount:
          description: amount of token to be destroyed.
          example: "100000"
          type: string
          maxLength: 32
        contractAddress:
          maxLength: 42
          minLength: 42
          description: Address of MultiToken token
          example: "0x687422eEA2cB73B5d3e242bA5456b782919AFc85"
          type: string
        fromPrivateKey:
          type: string
          maxLength: 66
          example: "0x05e150c73f1920ec14caa1e0b6aa09940899678051a78542840c2668ce5080c2"
          minLength: 66
          description: Private key of sender address. Private key, or signature Id must be present.
        nonce:
          type: number
          minimum: 0
          description: Nonce to be set to Celo transaction. If not present, last known nonce will be used.
        feeCurrency:
          type: string
          description: Currency to pay for transaction gas
          enum:
            - CELO
            - CUSD
            - CEUR
      required:
        - chain
        - contractAddress
        - feeCurrency
        - fromPrivateKey
        - tokenId
    BurnMultiTokenBatchCelo:
      type: object
      properties:
        chain:
          type: string
          example: CELO
          description: Chain to work with.
          enum:
            - CELO
        tokenId:
          description: ID of token to be destroyed.
          example: ["100000"]
          type: array
          items:
            type: string
            maxLength: 32
        amounts:
          description: amounts of token to be destroyed.
          example: ["100000"]
          type: array
          items:
            type: string
        contractAddress:
          maxLength: 42
          minLength: 42
          description: Address of MultiToken token
          example: "0x687422eEA2cB73B5d3e242bA5456b782919AFc85"
          type: string
        fromPrivateKey:
          type: string
          maxLength: 66
          example: "0x05e150c73f1920ec14caa1e0b6aa09940899678051a78542840c2668ce5080c2"
          minLength: 66
          description: Private key of sender address. Private key, or signature Id must be present.
        nonce:
          type: number
          minimum: 0
          description: Nonce to be set to Celo transaction. If not present, last known nonce will be used.
        feeCurrency:
          type: string
          description: Currency to pay for transaction gas
          enum:
            - CELO
            - CUSD
            - CEUR
      required:
        - chain
        - contractAddress
        - feeCurrency
        - fromPrivateKey
        - tokenId
    BurnMultiTokenKMSCelo:
      type: object
      properties:
        chain:
          type: string
          example: CELO
          description: Chain to work with.
          enum:
            - CELO
        tokenId:
          description: ID of token to be destroyed.
          example: "100000"
          type: string
          maxLength: 32
        amount:
          description: amount of token to be destroyed.
          example: "100000"
          type: string
          maxLength: 32
        contractAddress:
          maxLength: 42
          minLength: 42
          description: Address of MultiToken token
          example: "0x687422eEA2cB73B5d3e242bA5456b782919AFc85"
          type: string
        index:
          type: number
          minimum: 0
          description: If signatureId is mnemonic-based, this is the index to the specific address from that mnemonic.
        signatureId:
          type: string
          minLength: 36
          maxLength: 36
          format: uuid
          example: 26d3883e-4e17-48b3-a0ee-09a3e484ac83
          description: Identifier of the private key associated in signing application. Private key, or signature Id must be present.
        nonce:
          type: number
          minimum: 0
          description: Nonce to be set to Celo transaction. If not present, last known nonce will be used.
        feeCurrency:
          type: string
          description: Currency to pay for transaction gas
          enum:
            - CELO
            - CUSD
            - CEUR
      required:
        - chain
        - feeCurrency
        - contractAddress
        - tokenId
        - signatureId
    BurnMultiTokenBatchKMSCelo:
      type: object
      properties:
        chain:
          type: string
          example: CELO
          description: Chain to work with.
          enum:
            - CELO
        tokenId:
          description: IDs of token to be destroyed.
          example: ["100000"]
          type: array
          items:
            type: string
            maxLength: 32
        amounts:
          description: amounts of token to be destroyed.
          example: ["100000"]
          type: array
          items:
            type: string
        contractAddress:
          maxLength: 42
          minLength: 42
          description: Address of MultiToken token
          example: "0x687422eEA2cB73B5d3e242bA5456b782919AFc85"
          type: string
        index:
          type: number
          minimum: 0
          description: If signatureId is mnemonic-based, this is the index to the specific address from that mnemonic.
        signatureId:
          type: string
          minLength: 36
          maxLength: 36
          format: uuid
          example: 26d3883e-4e17-48b3-a0ee-09a3e484ac83
          description: Identifier of the private key associated in signing application. Private key, or signature Id must be present.
        nonce:
          type: number
          minimum: 0
          description: Nonce to be set to Celo transaction. If not present, last known nonce will be used.
        feeCurrency:
          type: string
          description: Currency to pay for transaction gas
          enum:
            - CELO
            - CUSD
            - CEUR
      required:
        - chain
        - feeCurrency
        - contractAddress
        - tokenId
        - signatureId
    BurnMultiTokenFlowPK:
      type: object
      properties:
        chain:
          type: string
          example: FLOW
          description: Chain to work with.
          enum:
            - FLOW
        tokenId:
          description: ID of token to be destroyed.
          example: "100000"
          type: string
          maxLength: 32
        amount:
          description: amount of token to be destroyed.
          example: "100000"
          type: string
          maxLength: 32
        contractAddress:
          maxLength: 36
          minLength: 36
          description: Address of MultiToken token
          example: "17a50dad-bcb1-4f3d-ae2c-ea2bfb04419f"
          type: string
        account:
          type: string
          maxLength: 18
          example: "0xc1b45bc27b9c61c3"
          minLength: 18
          description: Blockchain address of the sender account.
        privateKey:
          type: string
          maxLength: 64
          example: "05e150c73f1920ec14caa1e0b6aa09940899678051a78542840c2668ce5080c2"
          minLength: 64
          description: Private key of sender address. Private key, mnemonic and index or signature Id must be present.
      required:
        - chain
        - contractAddress
        - account
        - privateKey
        - tokenId
    BurnMultiTokenBatchFlowPK:
      type: object
      properties:
        chain:
          type: string
          example: FLOW
          description: Chain to work with.
          enum:
            - FLOW
        tokenId:
          description: ID of token to be destroyed.
          example: ["100000"]
          type: array
          items:
            type: string
            maxLength: 32
        amounts:
          description: amounts of token to be destroyed.
          example: ["100000"]
          type: array
          items:
            type: string
        contractAddress:
          maxLength: 36
          minLength: 36
          description: Address of MultiToken token
          example: "17a50dad-bcb1-4f3d-ae2c-ea2bfb04419f"
          type: string
        account:
          type: string
          maxLength: 18
          example: "0xc1b45bc27b9c61c3"
          minLength: 18
          description: Blockchain address of the sender account.
        privateKey:
          type: string
          maxLength: 64
          example: "05e150c73f1920ec14caa1e0b6aa09940899678051a78542840c2668ce5080c2"
          minLength: 64
          description: Private key of sender address. Private key, mnemonic and index or signature Id must be present.
      required:
        - chain
        - contractAddress
        - account
        - privateKey
        - tokenId
    BurnMultiTokenFlowMnemonic:
      type: object
      properties:
        chain:
          type: string
          example: FLOW
          description: Chain to work with.
          enum:
            - FLOW
        tokenId:
          description: ID of token to be destroyed.
          example: "100000"
          type: string
          maxLength: 32
        amount:
          description: amount of token to be destroyed.
          example: "100000"
          type: string
          maxLength: 32
        contractAddress:
          maxLength: 36
          minLength: 36
          description: Address of MultiToken token
          example: "17a50dad-bcb1-4f3d-ae2c-ea2bfb04419f"
          type: string
        account:
          type: string
          maxLength: 18
          example: "0xc1b45bc27b9c61c3"
          minLength: 18
          description: Blockchain address of the sender account.
        mnemonic:
          type: string
          maxLength: 500
          example: "urge pulp usage sister evidence arrest palm math please chief egg abuse"
          minLength: 1
          description: Mnemonic to generate private key of sender address.
        index:
          description: Derivation index of sender address.
          example: 0
          type: integer
          maximum: 2147483647
      required:
        - chain
        - contractAddress
        - account
        - mnemonic
        - index
        - tokenId
    BurnMultiTokenBatchFlowMnemonic:
      type: object
      properties:
        chain:
          type: string
          example: FLOW
          description: Chain to work with.
          enum:
            - FLOW
        tokenId:
          description: ID of token to be destroyed.
          example: ["100000"]
          type: array
          items:
            type: string
            maxLength: 32
        amounts:
          description: amounts of token to be destroyed.
          example: ["100000"]
          type: array
          items:
            type: string
        contractAddress:
          maxLength: 36
          minLength: 36
          description: Address of MultiToken token
          example: "17a50dad-bcb1-4f3d-ae2c-ea2bfb04419f"
          type: string
        account:
          type: string
          maxLength: 18
          example: "0xc1b45bc27b9c61c3"
          minLength: 18
          description: Blockchain address of the sender account.
        mnemonic:
          type: string
          maxLength: 500
          example: "urge pulp usage sister evidence arrest palm math please chief egg abuse"
          minLength: 1
          description: Mnemonic to generate private key of sender address.
        index:
          description: Derivation index of sender address.
          example: 0
          type: integer
          maximum: 2147483647
      required:
        - chain
        - contractAddress
        - account
        - mnemonic
        - index
        - tokenId
    BurnMultiTokenFlowKMS:
      type: object
      properties:
        chain:
          type: string
          example: FLOW
          description: Chain to work with.
          enum:
            - FLOW
        tokenId:
          description: ID of token to be destroyed.
          example: "100000"
          type: string
          maxLength: 32
        amount:
          description: amount of token to be destroyed.
          example: "100000"
          type: string
          maxLength: 32
        contractAddress:
          maxLength: 36
          minLength: 36
          description: Address of MultiToken token
          example: "17a50dad-bcb1-4f3d-ae2c-ea2bfb04419f"
          type: string
        account:
          type: string
          maxLength: 18
          example: "0xc1b45bc27b9c61c3"
          minLength: 18
          description: Blockchain address of the sender account.
        signatureId:
          type: string
          minLength: 36
          maxLength: 36
          format: uuid
          example: 26d3883e-4e17-48b3-a0ee-09a3e484ac83
          description: Identifier of the private key associated in signing application. Private key, or signature Id must be present.
        index:
          description: Derivation index of sender address.
          example: 0
          type: integer
          maximum: 2147483647
      required:
        - chain
        - contractAddress
        - account
        - signatureId
        - tokenId
    BurnMultiTokenBatchFlowKMS:
      type: object
      properties:
        chain:
          type: string
          example: FLOW
          description: Chain to work with.
          enum:
            - FLOW
        tokenId:
          description: ID of token to be destroyed.
          example: ["100000"]
          type: array
          items:
            type: string
            maxLength: 32
        amounts:
          description: amounts of token to be destroyed.
          example: ["100000"]
          type: array
          items:
            type: string
        contractAddress:
          maxLength: 36
          minLength: 36
          description: Address of MultiToken token
          example: "17a50dad-bcb1-4f3d-ae2c-ea2bfb04419f"
          type: string
        account:
          type: string
          maxLength: 18
          example: "0xc1b45bc27b9c61c3"
          minLength: 18
          description: Blockchain address of the sender account.
        signatureId:
          type: string
          minLength: 36
          maxLength: 36
          format: uuid
          example: 26d3883e-4e17-48b3-a0ee-09a3e484ac83
          description: Identifier of the private key associated in signing application. Private key, or signature Id must be present.
        index:
          description: Derivation index of sender address.
          example: 0
          type: integer
          maximum: 2147483647
      required:
        - chain
        - contractAddress
        - account
        - signatureId
        - tokenId        
    MintMultiTokenFlowPK:
      type: object
      properties:
        chain:
          type: string
          example: FLOW
          description: Chain to work with.
          enum:
            - FLOW
        to:
          type: string
          description: Blockchain address to send MultiToken token to.
          example: "0xc1b45bc27b9c61c3"
        amount:
          description: amount of token to be minted.
          example: "100000"
          type: string
          maxLength: 32
        contractAddress:
          maxLength: 36
          minLength: 36
          description: Address of MultiToken token
          example: "17a50dad-bcb1-4f3d-ae2c-ea2bfb04419f"
          type: string
        account:
          type: string
          maxLength: 18
          example: "0xc1b45bc27b9c61c3"
          minLength: 18
          description: Blockchain address of the sender account.
        privateKey:
          type: string
          maxLength: 64
          example: "05e150c73f1920ec14caa1e0b6aa09940899678051a78542840c2668ce5080c2"
          minLength: 64
          description: Private key of sender address. Private key, mnemonic and index or signature Id must be present.
      required:
        - chain
        - contractAddress
        - account
        - privateKey
        - to
        - url
    MintMultiTokenFlowMnemonic:
      type: object
      properties:
        chain:
          type: string
          example: FLOW
          description: Chain to work with.
          enum:
            - FLOW
        to:
          type: string
          description: Blockchain address to send MultiToken token to.
          example: "0xc1b45bc27b9c61c3"
        amount:
          description: amount of token to be destroyed.
          example: "100000"
          type: string
          maxLength: 32
        contractAddress:
          maxLength: 36
          minLength: 36
          description: Address of MultiToken token
          example: "17a50dad-bcb1-4f3d-ae2c-ea2bfb04419f"
          type: string
        account:
          type: string
          maxLength: 18
          example: "0xc1b45bc27b9c61c3"
          minLength: 18
          description: Blockchain address of the sender account.
        mnemonic:
          type: string
          maxLength: 500
          example: "urge pulp usage sister evidence arrest palm math please chief egg abuse"
          minLength: 1
          description: Mnemonic to generate private key of sender address.
        index:
          description: Derivation index of sender address.
          example: 0
          type: integer
          maximum: 2147483647
      required:
        - chain
        - contractAddress
        - account
        - mnemonic
        - index
        - to
        - url
    MintMultiTokenFlowKMS:
      type: object
      properties:
        chain:
          type: string
          example: FLOW
          description: Chain to work with.
          enum:
            - FLOW
        to:
          type: array
          description: Blockchain address to send MultiToken token to.
          example: [ "0xc1b45bc27b9c61c3" ]
          items:
            maxLength: 18
            minLength: 18
            type: string
        amount:
          description: amount of token to be destroyed.
          example: "100000"
          type: string
          maxLength: 32
        contractAddress:
          maxLength: 36
          minLength: 36
          description: Address of MultiToken token
          example: "17a50dad-bcb1-4f3d-ae2c-ea2bfb04419f"
          type: string
        account:
          type: string
          maxLength: 18
          example: "0xc1b45bc27b9c61c3"
          minLength: 18
          description: Blockchain address of the sender account.
        signatureId:
          type: string
          minLength: 36
          maxLength: 36
          format: uuid
          example: 26d3883e-4e17-48b3-a0ee-09a3e484ac83
          description: Identifier of the private key associated in signing application. Private key, or signature Id must be present.
        index:
          description: Derivation index of sender address.
          example: 0
          type: integer
          maximum: 2147483647
      required:
        - chain
        - contractAddress
        - account
        - signatureId
        - to
        - url
    MintMultiTokenBatchFlowPK:
      type: object
      properties:
        chain:
          type: string
          example: FLOW
          description: Chain to work with.
          enum:
            - FLOW
        to:
          type: array
          description: Blockchain address to send MultiToken token to.
          example: ["0xc1b45bc27b9c61c3"]
          items:
            type: string
        amounts:
          description: amount of token to be destroyed.
          example: ["100000"]
          type: array
          items:
            type: string
            maxLength: 256
        contractAddress:
          maxLength: 36
          minLength: 36
          description: Address of MultiToken token
          example: "17a50dad-bcb1-4f3d-ae2c-ea2bfb04419f"
          type: string
        account:
          type: string
          maxLength: 18
          example: "0xc1b45bc27b9c61c3"
          minLength: 18
          description: Blockchain address of the sender account.
        privateKey:
          type: string
          maxLength: 64
          example: "05e150c73f1920ec14caa1e0b6aa09940899678051a78542840c2668ce5080c2"
          minLength: 64
          description: Private key of sender address. Private key, mnemonic and index or signature Id must be present.
      required:
        - chain
        - contractAddress
        - account
        - privateKey
        - to
        - url
    MintMultiTokenBatchFlowMnemonic:
      type: object
      properties:
        chain:
          type: string
          example: FLOW
          description: Chain to work with.
          enum:
            - FLOW
        to:
          type: array
          description: Blockchain address to send MultiToken token to.
          example: "0xc1b45bc27b9c61c3"
          items:
            type: string
            maxLength: 18
            minLength: 18
        amounts:
          description: amount of token to be destroyed.
          example: ["100000"]
          type: array
          items:
            type: string
        contractAddress:
          maxLength: 36
          minLength: 36
          description: Address of MultiToken token
          example: "17a50dad-bcb1-4f3d-ae2c-ea2bfb04419f"
          type: string
        account:
          type: string
          maxLength: 18
          example: "0xc1b45bc27b9c61c3"
          minLength: 18
          description: Blockchain address of the sender account.
        mnemonic:
          type: string
          maxLength: 500
          example: "urge pulp usage sister evidence arrest palm math please chief egg abuse"
          minLength: 1
          description: Mnemonic to generate private key of sender address.
        index:
          description: Derivation index of sender address.
          example: 0
          type: integer
          maximum: 2147483647
      required:
        - chain
        - contractAddress
        - account
        - mnemonic
        - index
        - to
        - url
    MintMultiTokenBatchFlowKMS:
      type: object
      properties:
        chain:
          type: string
          example: FLOW
          description: Chain to work with.
          enum:
            - FLOW
        to:
          type: array
          description: Blockchain address to send MultiToken token to.
          example: "0xc1b45bc27b9c61c3"
          items:
            type: string
            maxLength: 18
            minLength: 18
        amounts:
          description: amount of token to be destroyed.
          example: ["100000"]
          type: array
          items:
            type: string
            maxLength: 256
        contractAddress:
          maxLength: 36
          minLength: 36
          description: Address of MultiToken token
          example: "17a50dad-bcb1-4f3d-ae2c-ea2bfb04419f"
          type: string
        account:
          type: string
          maxLength: 18
          example: "0xc1b45bc27b9c61c3"
          minLength: 18
          description: Blockchain address of the sender account.
        signatureId:
          type: string
          minLength: 36
          maxLength: 36
          format: uuid
          example: 26d3883e-4e17-48b3-a0ee-09a3e484ac83
          description: Identifier of the private key associated in signing application. Private key, or signature Id must be present.
        index:
          description: Derivation index of sender address.
          example: 0
          type: integer
          maximum: 2147483647
      required:
        - chain
        - contractAddress
        - account
        - signatureId
        - to
        - url
    DeployMultiTokenFlowPK:
      type: object
      properties:
        chain:
          type: string
          example: FLOW
          description: Chain to work with.
          enum:
            - FLOW
        account:
          type: string
          maxLength: 18
          example: "0xc1b45bc27b9c61c3"
          minLength: 18
          description: Blockchain address of the sender account.
        privateKey:
          type: string
          maxLength: 64
          example: "05e150c73f1920ec14caa1e0b6aa09940899678051a78542840c2668ce5080c2"
          minLength: 64
          description: Private key of sender address. Private key, mnemonic and index or signature Id must be present.
      required:
        - chain
        - account
        - privateKey
    DeployMultiTokenFlowMnemonic:
      type: object
      properties:
        chain:
          type: string
          example: FLOW
          description: Chain to work with.
          enum:
            - FLOW
        account:
          type: string
          maxLength: 18
          example: "0xc1b45bc27b9c61c3"
          minLength: 18
          description: Blockchain address of the sender account.
        mnemonic:
          type: string
          maxLength: 500
          example: "urge pulp usage sister evidence arrest palm math please chief egg abuse"
          minLength: 1
          description: Mnemonic to generate private key of sender address.
        index:
          description: Derivation index of sender address.
          example: 0
          type: integer
          maximum: 2147483647
      required:
        - chain
        - account
        - mnemonic
        - index
    DeployMultiTokenFlowKMS:
      type: object
      properties:
        chain:
          type: string
          example: FLOW
          description: Chain to work with.
          enum:
            - FLOW
        account:
          type: string
          maxLength: 18
          example: "0xc1b45bc27b9c61c3"
          minLength: 18
          description: Blockchain address of the sender account.
        signatureId:
          type: string
          minLength: 36
          maxLength: 36
          format: uuid
          example: 26d3883e-4e17-48b3-a0ee-09a3e484ac83
          description: Identifier of the private key associated in signing application. Private key, or signature Id must be present.
        index:
          description: Derivation index of sender address.
          example: 0
          type: integer
          maximum: 2147483647
      required:
        - chain
        - account
        - signatureId
    TransferMultiTokenFlowPK:
      type: object
      properties:
        chain:
          type: string
          example: FLOW
          description: Chain to work with.
          enum:
            - FLOW
        to:
          type: string
          description: Blockchain address to send MultiToken token to.
          example: "0xc1b45bc27b9c61c3"
          maxLength: 18
          minLength: 18
        tokenId:
          description: ID of token to be sent.
          example: "100000"
          type: string
          maxLength: 32
        amount:
          description: amount of token to be sent.
          example: "100000"
          type: string
          maxLength: 32
        contractAddress:
          maxLength: 36
          minLength: 36
          description: Address of MultiToken token
          example: "17a50dad-bcb1-4f3d-ae2c-ea2bfb04419f"
          type: string
        account:
          type: string
          maxLength: 18
          example: "0xc1b45bc27b9c61c3"
          minLength: 18
          description: Blockchain address of the sender account.
        privateKey:
          type: string
          maxLength: 64
          example: "05e150c73f1920ec14caa1e0b6aa09940899678051a78542840c2668ce5080c2"
          minLength: 64
          description: Private key of sender address. Private key, mnemonic and index or signature Id must be present.
      required:
        - chain
        - contractAddress
        - account
        - privateKey
        - to
        - tokenId
    TransferMultiTokenBatchFlowPK:
      type: object
      properties:
        chain:
          type: string
          example: FLOW
          description: Chain to work with.
          enum:
            - FLOW
        to:
          type: string
          description: Blockchain address to send MultiToken token to.
          example: "0xc1b45bc27b9c61c3"
          maxLength: 18
          minLength: 18
        tokenId:
          description: ID of token to be sent.
          example: ["100000"]
          type: array
          items:
            type: string
            maxLength: 32
        amount:
          description: amount of token to be sent.
          example: ["100000"]
          type: array
          items:
            type: string
            maxLength: 256
        contractAddress:
          maxLength: 36
          minLength: 36
          description: Address of MultiToken token
          example: "17a50dad-bcb1-4f3d-ae2c-ea2bfb04419f"
          type: string
        account:
          type: string
          maxLength: 18
          example: "0xc1b45bc27b9c61c3"
          minLength: 18
          description: Blockchain address of the sender account.
        privateKey:
          type: string
          maxLength: 64
          example: "05e150c73f1920ec14caa1e0b6aa09940899678051a78542840c2668ce5080c2"
          minLength: 64
          description: Private key of sender address. Private key, mnemonic and index or signature Id must be present.
      required:
        - chain
        - contractAddress
        - account
        - privateKey
        - to
        - tokenId
    TransferMultiTokenFlowMnemonic:
      type: object
      properties:
        chain:
          type: string
          example: FLOW
          description: Chain to work with.
          enum:
            - FLOW
        to:
          type: string
          description: Blockchain address to send MultiToken token to.
          example: "0xc1b45bc27b9c61c3"
          maxLength: 18
          minLength: 18
        tokenId:
          description: ID of token to be sent.
          example: "100000"
          type: string
          maxLength: 32
        amount:
          description: amount of token to be sent.
          example: "100000"
          type: string
        contractAddress:
          maxLength: 36
          minLength: 36
          description: Address of MultiToken token
          example: "17a50dad-bcb1-4f3d-ae2c-ea2bfb04419f"
          type: string
        account:
          type: string
          maxLength: 18
          example: "0xc1b45bc27b9c61c3"
          minLength: 18
          description: Blockchain address of the sender account.
        mnemonic:
          type: string
          maxLength: 500
          example: "urge pulp usage sister evidence arrest palm math please chief egg abuse"
          minLength: 1
          description: Mnemonic to generate private key of sender address.
        index:
          description: Derivation index of sender address.
          example: 0
          type: integer
          maximum: 2147483647
      required:
        - chain
        - contractAddress
        - account
        - mnemonic
        - index
        - to
        - tokenId
    TransferMultiTokenBatchFlowMnemonic:
      type: object
      properties:
        chain:
          type: string
          example: FLOW
          description: Chain to work with.
          enum:
            - FLOW
        to:
          type: string
          description: Blockchain address to send MultiToken token to.
          example: "0xc1b45bc27b9c61c3"
          maxLength: 18
          minLength: 18
        tokenId:
          description: IDs of token to be sent.
          example: ["100000"]
          type: array
          items:
            type: string
            maxLength: 32
        amounts:
          description: amounts of token to be sent.
          example: ["100000"]
          type: array
          items:
            type: string
        contractAddress:
          maxLength: 36
          minLength: 36
          description: Address of MultiToken token
          example: "17a50dad-bcb1-4f3d-ae2c-ea2bfb04419f"
          type: string
        account:
          type: string
          maxLength: 18
          example: "0xc1b45bc27b9c61c3"
          minLength: 18
          description: Blockchain address of the sender account.
        mnemonic:
          type: string
          maxLength: 500
          example: "urge pulp usage sister evidence arrest palm math please chief egg abuse"
          minLength: 1
          description: Mnemonic to generate private key of sender address.
        index:
          description: Derivation index of sender address.
          example: 0
          type: integer
          maximum: 2147483647
      required:
        - chain
        - contractAddress
        - account
        - mnemonic
        - index
        - to
        - tokenId
    TransferMultiTokenFlowKMS:
      type: object
      properties:
        chain:
          type: string
          example: FLOW
          description: Chain to work with.
          enum:
            - FLOW
        to:
          type: string
          description: Blockchain address to send MultiToken token to.
          example: "0xc1b45bc27b9c61c3"
          maxLength: 18
          minLength: 18
        tokenId:
          description: ID of token to be sent.
          example: "100000"
          type: string
          maxLength: 32
        amount:
          description: amount of token to be sent.
          example: "100000"
          type: string
        contractAddress:
          maxLength: 36
          minLength: 36
          description: Address of MultiToken token
          example: "17a50dad-bcb1-4f3d-ae2c-ea2bfb04419f"
          type: string
        account:
          type: string
          maxLength: 18
          example: "0xc1b45bc27b9c61c3"
          minLength: 18
          description: Blockchain address of the sender account.
        signatureId:
          type: string
          minLength: 36
          maxLength: 36
          format: uuid
          example: 26d3883e-4e17-48b3-a0ee-09a3e484ac83
          description: Identifier of the private key associated in signing application. Private key, or signature Id must be present.
        index:
          description: Derivation index of sender address.
          example: 0
          type: integer
          maximum: 2147483647
      required:
        - chain
        - contractAddress
        - account
        - signatureId
        - to
        - tokenId
    TransferMultiTokenBatchFlowKMS:
      type: object
      properties:
        chain:
          type: string
          example: FLOW
          description: Chain to work with.
          enum:
            - FLOW
        to:
          type: string
          description: Blockchain address to send MultiToken token to.
          example: "0xc1b45bc27b9c61c3"
          maxLength: 18
          minLength: 18
        tokenId:
          description: IDs of token to be sent.
          example: ["100000"]
          type: array
          items:
            type: string
            maxLength: 32
        amount:
          description: amount of tokens to be sent.
          example: ["100000"]
          type: array
          items:
            type: string
        contractAddress:
          maxLength: 36
          minLength: 36
          description: Address of MultiToken token
          example: "17a50dad-bcb1-4f3d-ae2c-ea2bfb04419f"
          type: string
        account:
          type: string
          maxLength: 18
          example: "0xc1b45bc27b9c61c3"
          minLength: 18
          description: Blockchain address of the sender account.
        signatureId:
          type: string
          minLength: 36
          maxLength: 36
          format: uuid
          example: 26d3883e-4e17-48b3-a0ee-09a3e484ac83
          description: Identifier of the private key associated in signing application. Private key, or signature Id must be present.
        index:
          description: Derivation index of sender address.
          example: 0
          type: integer
          maximum: 2147483647
      required:
        - chain
        - contractAddress
        - account
        - signatureId
        - to
        - tokenId
    UpdateCashbackValueForAuthorMultiTokenCelo:
      type: object
      properties:
        chain:
          type: string
          example: CELO
          description: Chain to work with.
          enum:
            - CELO
        tokenId:
          description: ID of token to be updated.
          example: "100000"
          type: string
          maxLength: 32
        author:
          maxLength: 42
          minLength: 42
          description: Blockchain address of author of the royaltz. From this address update operation must be sent.
          example: "0x687422eEA2cB73B5d3e242bA5456b782919AFc85"
          type: string
        cashbackValue:
          type: string
          description: New royalty cashback to be set for the author of token with tokenId. If set to 0, royalty is disabled for this token.
          example: "0.1"
        contractAddress:
          maxLength: 42
          minLength: 42
          description: Address of MultiToken token
          example: "0x687422eEA2cB73B5d3e242bA5456b782919AFc85"
          type: string
        fromPrivateKey:
          type: string
          maxLength: 66
          example: "0x05e150c73f1920ec14caa1e0b6aa09940899678051a78542840c2668ce5080c2"
          minLength: 66
          description: Private key of sender address. Private key, or signature Id must be present.
        nonce:
          type: number
          minimum: 0
          description: Nonce to be set to Celo transaction. If not present, last known nonce will be used.
        feeCurrency:
          type: string
          description: Currency to pay for transaction gas
          enum:
            - CELO
            - CUSD
            - CEUR
      required:
        - chain
        - contractAddress
        - feeCurrency
        - fromPrivateKey
        - tokenId
        - author
        - cashbackValue
    UpdateCashbackValueForAuthorMultiTokenKMSCelo:
      type: object
      properties:
        chain:
          type: string
          example: CELO
          description: Chain to work with.
          enum:
            - CELO
        tokenId:
          description: ID of token to be updated.
          example: "100000"
          type: string
          maxLength: 32
        author:
          maxLength: 42
          minLength: 42
          description: Blockchain address of author of the royaltz. From this address update operation must be sent.
          example: "0x687422eEA2cB73B5d3e242bA5456b782919AFc85"
          type: string
        cashbackValue:
          type: string
          description: New royalty cashback to be set for the author of token with tokenId. If set to 0, royalty is disabled for this token.
          example: "0.1"
        contractAddress:
          maxLength: 42
          minLength: 42
          description: Address of MultiToken token
          example: "0x687422eEA2cB73B5d3e242bA5456b782919AFc85"
          type: string
        index:
          type: number
          minimum: 0
          description: If signatureId is mnemonic-based, this is the index to the specific address from that mnemonic.
        signatureId:
          type: string
          minLength: 36
          maxLength: 36
          format: uuid
          example: 26d3883e-4e17-48b3-a0ee-09a3e484ac83
          description: Identifier of the private key associated in signing application. Private key, or signature Id must be present.
        nonce:
          type: number
          minimum: 0
          description: Nonce to be set to Celo transaction. If not present, last known nonce will be used.
        feeCurrency:
          type: string
          description: Currency to pay for transaction gas
          enum:
            - CELO
            - CUSD
            - CEUR
      required:
        - chain
        - feeCurrency
        - contractAddress
        - tokenId
        - signatureId
        - author
        - cashbackValue
    TransferMultiTokenKMSCelo:
      type: object
      properties:
        value:
          type: string
          description: If token to be transferred is Royalty MultiToken token, this is a value to be paid as a cashback to the authors of the token.
          example: "1"
        chain:
          type: string
          example: CELO
          description: Chain to work with.
          enum:
            - CELO
        to:
          maxLength: 42
          minLength: 42
          description: Blockchain address to send MultiToken token to
          example: "0x687422eEA2cB73B5d3e242bA5456b782919AFc85"
          type: string
        tokenId:
          description: ID of token.
          example: "100000"
          type: string
          maxLength: 256
        amount:
          description: amount of token.
          example: "100000"
          type: string
        contractAddress:
          maxLength: 42
          minLength: 42
          description: Address of MultiToken token
          example: "0x687422eEA2cB73B5d3e242bA5456b782919AFc85"
          type: string
        index:
          type: number
          minimum: 0
          description: If signatureId is mnemonic-based, this is the index to the specific address from that mnemonic.
        signatureId:
          type: string
          minLength: 36
          maxLength: 36
          format: uuid
          example: 26d3883e-4e17-48b3-a0ee-09a3e484ac83
          description: Identifier of the private key associated in signing application. Private key, or signature Id must be present.
        nonce:
          type: number
          example: 1
          description: Nonce to be set to Celo transaction. If not present, last known nonce will be used.
        feeCurrency:
          type: string
          description: Currency to pay for transaction gas
          enum:
            - CELO
            - CUSD
            - CEUR
      required:
        - chain
        - to
        - contractAddress
        - feeCurrency
        - signatureId
        - tokenId
    TransferMultiTokenBatchKMSCelo:
      type: object
      properties:
        value:
          type: string
          description: If token to be transferred is Royalty MultiToken token, this is a value to be paid as a cashback to the authors of the token.
          example: "1"
        chain:
          type: string
          example: CELO
          description: Chain to work with.
          enum:
            - CELO
        to:
          maxLength: 42
          minLength: 42
          description: Blockchain address to send MultiToken token to
          example: "0x687422eEA2cB73B5d3e242bA5456b782919AFc85"
          type: string
        tokenId:
          description: ID of token.
          example: ["100000"]
          type: array
          items:
            type: string
        amounts:
          description: amounts of token.
          example: ["100000"]
          type: array    
          items:
            type: string    
        contractAddress:
          maxLength: 42
          minLength: 42
          description: Address of MultiToken token
          example: "0x687422eEA2cB73B5d3e242bA5456b782919AFc85"
          type: string
        index:
          type: number
          minimum: 0
          description: If signatureId is mnemonic-based, this is the index to the specific address from that mnemonic.
        signatureId:
          type: string
          minLength: 36
          maxLength: 36
          format: uuid
          example: 26d3883e-4e17-48b3-a0ee-09a3e484ac83
          description: Identifier of the private key associated in signing application. Private key, or signature Id must be present.
        nonce:
          type: number
          example: 1
          description: Nonce to be set to Celo transaction. If not present, last known nonce will be used.
        feeCurrency:
          type: string
          description: Currency to pay for transaction gas
          enum:
            - CELO
            - CUSD
            - CEUR
      required:
        - chain
        - to
        - contractAddress
        - feeCurrency
        - signatureId
        - tokenId
    MintMultiTokenCelo:
      type: object
      properties:
        chain:
          type: string
          example: CELO
          description: Chain to work with.
          enum:
            - CELO
        tokenId:
          description: ID of token to be created.
          example: "100000"
          type: string
          maxLength: 32
        amount:
          description: amount of token to be created.
          example: "100000"
          type: string
        to:
          maxLength: 42
          minLength: 42
          description: Blockchain address to send MultiToken token to
          example: "0x687422eEA2cB73B5d3e242bA5456b782919AFc85"
          type: string
        contractAddress:
          maxLength: 42
          minLength: 42
          description: Address of MultiToken token
          example: "0x687422eEA2cB73B5d3e242bA5456b782919AFc85"
          type: string
        url:
          description: Metadata of the token. See https://eips.ethereum.org/EIPS/eip-721#specification for more details.
          example: "https://my_token_data.com"
          type: string
          maxLength: 256
        authorAddresses:
          type: array
          description: List of addresses, where royalty cashback for every transfer of this MultiToken will be send. Royalties are paid in native blockchain currency CELO.
          items:
            type: string
            minLength: 42
            maxLength: 42
            description: Blockchain address to send royalties to
            example: "0x687422eEA2cB73B5d3e242bA5456b782919AFc85"
        cashbackValues:
          type: array
          description: List of values, which will be paid as a royalty for author of the MultiToken token with every token transfer. This is exact value in native blockhain currency.
          items:
            type: string
            description: Value of the royalty to be paid.
            example: "0.5"
        fromPrivateKey:
          type: string
          maxLength: 66
          example: "0x05e150c73f1920ec14caa1e0b6aa09940899678051a78542840c2668ce5080c2"
          minLength: 66
          description: Private key of sender address. Private key, or signature Id must be present.
        nonce:
          type: number
          minimum: 0
          description: Nonce to be set to Celo transaction. If not present, last known nonce will be used.
        feeCurrency:
          type: string
          description: Currency to pay for transaction gas
          enum:
            - CELO
            - CUSD
            - CEUR
      required:
        - chain
        - to
        - url
        - feeCurrency
        - contractAddress
        - fromPrivateKey
        - tokenId
    MintMultiTokenBatchCelo:
      type: object
      properties:
        chain:
          type: string
          example: CELO
          description: Chain to work with.
          enum:
            - CELO
        tokenId:
          description: ID of token to be created.
          example: ["100000"]
          type: array
          items:
            type: string
            maxLength: 32          
        amounts:
          description: amounts of token to be created.
          example: ["100"]
          type: array
          items:
            type: string
        to:
          maxLength: 42
          minLength: 42
          description: Blockchain address to send MultiToken token to
          example: "0x687422eEA2cB73B5d3e242bA5456b782919AFc85"
          type: string
        contractAddress:
          maxLength: 42
          minLength: 42
          description: Address of MultiToken token
          example: "0x687422eEA2cB73B5d3e242bA5456b782919AFc85"
          type: string
        url:
          description: Metadata of the token. See https://eips.ethereum.org/EIPS/eip-721#specification for more details.
          example: "https://my_token_data.com"
          type: string
          maxLength: 256
        authorAddresses:
          type: array
          description: List of addresses, where royalty cashback for every transfer of this MultiToken will be send. Royalties are paid in native blockchain currency CELO.
          items:
            type: string
            minLength: 42
            maxLength: 42
            description: Blockchain address to send royalties to
            example: "0x687422eEA2cB73B5d3e242bA5456b782919AFc85"
        cashbackValues:
          type: array
          description: List of values, which will be paid as a royalty for author of the MultiToken token with every token transfer. This is exact value in native blockhain currency.
          items:
            type: string
            description: Value of the royalty to be paid.
            example: "0.5"
        fromPrivateKey:
          type: string
          maxLength: 66
          example: "0x05e150c73f1920ec14caa1e0b6aa09940899678051a78542840c2668ce5080c2"
          minLength: 66
          description: Private key of sender address. Private key, or signature Id must be present.
        nonce:
          type: number
          minimum: 0
          description: Nonce to be set to Celo transaction. If not present, last known nonce will be used.
        feeCurrency:
          type: string
          description: Currency to pay for transaction gas
          enum:
            - CELO
            - CUSD
            - CEUR
      required:
        - chain
        - to
        - url
        - feeCurrency
        - contractAddress
        - fromPrivateKey
        - tokenId
    MintMultiTokenKMSCelo:
      type: object
      properties:
        chain:
          type: string
          example: CELO
          description: Chain to work with.
          enum:
            - CELO
        tokenId:
          description: ID of token to be created.
          example: "100000"
          type: string
          maxLength: 32
        amount:
          description: amount of token to be created.
          example: "100000"
          type: string
          maxLength: 32
        to:
          maxLength: 42
          minLength: 42
          description: Blockchain address to send MultiToken token to
          example: "0x687422eEA2cB73B5d3e242bA5456b782919AFc85"
          type: string
        contractAddress:
          maxLength: 42
          minLength: 42
          description: Address of MultiToken token
          example: "0x687422eEA2cB73B5d3e242bA5456b782919AFc85"
          type: string
        url:
          description: Metadata of the token. See https://eips.ethereum.org/EIPS/eip-721#specification for more details.
          example: "https://my_token_data.com"
          type: string
          maxLength: 256
        authorAddresses:
          type: array
          description: List of addresses, where royalty cashback for every transfer of this MultiToken will be send. Royalties are paid in native blockchain currency CELO.
          items:
            type: string
            minLength: 42
            maxLength: 42
            description: Blockchain address to send royalties to
            example: "0x687422eEA2cB73B5d3e242bA5456b782919AFc85"
        cashbackValues:
          type: array
          description: List of values, which will be paid as a royalty for author of the MultiToken token with every token transfer. This is exact value in native blockhain currency.
          items:
            type: string
            description: Value of the royalty to be paid.
            example: "0.5"
        index:
          type: number
          minimum: 0
          description: If signatureId is mnemonic-based, this is the index to the specific address from that mnemonic.
        signatureId:
          type: string
          minLength: 36
          maxLength: 36
          format: uuid
          example: 26d3883e-4e17-48b3-a0ee-09a3e484ac83
          description: Identifier of the private key associated in signing application. Private key, or signature Id must be present.
        nonce:
          type: number
          minimum: 0
          description: Nonce to be set to Celo transaction. If not present, last known nonce will be used.
        feeCurrency:
          type: string
          description: Currency to pay for transaction gas
          enum:
            - CELO
            - CUSD
            - CEUR
      required:
        - chain
        - to
        - url
        - feeCurrency
        - contractAddress
        - signatureId
        - tokenId
    TransferMultiToken:
      type: object
      properties:
        value:
          type: string
          description: If token to be transferred is Royalty MultiToken token, this is a value to be paid as a cashback to the authors of the token.
          example: "1"
        chain:
          type: string
          example: ETH
          description: Chain to work with.
          enum:
            - ETH
            - BSC
        to:
          maxLength: 42
          minLength: 42
          description: Blockchain address to send MultiToken token to
          example: "0x687422eEA2cB73B5d3e242bA5456b782919AFc85"
          type: string
        tokenId:
          description: ID of token.
          example: "100000"
          type: string
          maxLength: 256
        amount:
          description: amount of token.
          example: "100000"
          type: string
          maxLength: 32
        contractAddress:
          maxLength: 42
          minLength: 42
          description: Address of MultiToken token
          example: "0x687422eEA2cB73B5d3e242bA5456b782919AFc85"
          type: string
        fromPrivateKey:
          type: string
          maxLength: 66
          example: "0x05e150c73f1920ec14caa1e0b6aa09940899678051a78542840c2668ce5080c2"
          minLength: 66
          description: Private key of sender address. Private key, or signature Id must be present.
        nonce:
          type: number
          example: 1
          description: Nonce to be set to Ethereum transaction. If not present, last known nonce will be used.
        fee:
[...]
