{
  "openapi": "3.0.1",
  "info": {
    "title": "Tatum API",
    "version": "3.3",
    "x-logo": {
      "url": "https://tatum.io/images/logo.svg",
      "altText": "Tatum"
    },
    "description": "# Authentication\n\n<!-- ReDoc-Inject: <security-definitions> -->"
  },
  "servers": [
    {
      "url": "https://api-eu1.tatum.io"
    }
  ],
  "tags": [
    {
      "description": "<p>Tatum Account is the primary building block of Tatum-powered applications. It is an envelope that holds essential information about balances, state of the account or customer, whom the account belongs to.<br/><br/>\nAccounts in Tatum are stored within Tatum Private Ledger. Tatum Private Ledger contains information about accounts, customers that own accounts, transactions that affect accounts or virtual currencies present in the ledger.<br/><br/>\nPrivate Ledger is not connected to any blockchain by default. It is possible to create application without any blockchain at all, only on the private ledger. Using Tatum Private Ledger and building blocks included inside, it is possible to quickly swap whole application from ledger to any supported blockchain within Tatum. All of the API calls will remain the same, only the blockchain, on which the application will live, will be changed.<br/><br/>\nMost of the blockchains do not have any compliance layer at all. It is not possible to freeze funds on the blockchain address or deactivate the address. Tatum Account has built-in compliance, and it is possible to block funds on the account, freeze outgoing transactions from the account or even deactivate account at all.\n</p>\n",
      "name": "Ledger / Account"
    },
    {
      "description": "<p>Endpoint used to create and list transactions within Tatum Private Ledger. The transaction is performed between 2 accounts with the same currency. To perform exchange operation between accounts with different currency, API calls from <a href=\"#tag/Ledger-Order-Book\">Order Book</a> sections are available. Transactions in the ledger are instant, with settlement time bellow 200ms.<br/>\nTatum Private Ledger supports microtransactions - a transaction with the transacted amount as little as 1e-30 (30 decimal places). Transactions are atomic.<br/>\nWhen there is insufficient balance on the sender account or recipient account cannot receive funds, the transaction is not settled.</p>\n",
      "name": "Ledger / Transaction"
    },
    {
      "description": "<p>Endpoint used to handle customer operations, like update information about customer, enable/disable etc.\nWithin Tatum API, customer represents the client of the entity, which is communicating with Tatum.<br/>\nCustomers cannot be created via any other operation then Create Ledger Account.<br/>\nDue to compliance restrictions it is advised to enter the country of residence of the customer and the country of provider of the provider. Based on\nthese information, Tatum compliance engine is able to operate.\n</p>\n",
      "name": "Ledger / Customer"
    },
    {
      "description": "<p>Register and use Tatum private's virtual currencies. You can create your virtual currency and distribute it amongst your customers.<br/>\nVirtual currencies are used to support FIAT currencies. When virtual currency is created with basePair of the FIAT currency, it is possible to perform transactions in the private ledger in FIAT.\n</p>\n",
      "name": "Ledger / Virtual Currency"
    },
    {
      "description": "<p>Endpoints to handle subscriptions to the Tatum Platform. Subscriptions enable users to enable some additional features or reports, which are not enabled by default,\nlike outgoing off-chain transaction scanning, accounts with balances above the limit, etc.</p>\n",
      "name": "Ledger / Subscription"
    },
    {
      "description": "<p>Endpoint to handle Order book operations like create BID / ASK trades between Tatum Ledger accounts, obtain history of trades etc. It is possible to build exchange based on the Ledger Accounts.</p>",
      "name": "Ledger / Order Book"
    },
    {
      "description": "<p>Endpoint used to handle operations connected to Tatum KMS. It provides a list of a pending transaction to sign, possibilies\nto complete transaction after signature, obtain detail of the transaction with the result of the blockchain operation via transaction ID.<br/>\nIn Tatum KMS tool, each managed wallet or private key have assigned a unique signature Id, which represents a concrete wallet / private key.\nThis signature Id is then used in a request to identify concrete wallet.<br/>\nTatum API accepts 3 representations of signature Ids in its requests:\n<ul>\n<li>signatureId represents <b>mnemonic</b> type of the wallet. In API calls like /v3/offchain/scrypta/transfer, signatureId present in the request should represent mnemonic type of wallet.</li>\n<li>signatureId represents <b>privateKey</b> type of the wallet. In API calls like /v3/scrypta/transaction, signatureId present in the request should represent private key type of wallet.</li>\n<li>signatureId represents <b>mnemonic</b> and <b>index</b> type of the wallet. In API calls like /v3/offchain/ethereum/transfer, alongside signatureId there should be index of the concrete private key from the mnemonic, which should be used.</li>\n</ul></p>\n",
      "name": "Security / Key Management System"
    },
    {
      "description": "<p>Endpoint to check, if the blockchain address is safe to work with or not.</p>\n",
      "name": "Security / Address"
    },
    {
      "description": "<p>Endpoint to handle operations on Tatum Ledger accounts and blockchain, generate blockchain addresses and link them to accounts.<br/>\nThere are 2 main concepts within Tatum Ledger accounts and blockchain:\n<ul>\n<li>Tatum account with generated blockchain address - customer is able to use Tatum's private ledger transactions, send funds to blockchain addresses as well as receive funds from blockchain users.</li>\n<li>Tatum account with no blockchain address generated - account generated on the private ledger with currency such as LYRA, but without blockchain address associated with it. Customer can send and receive funds within Tatum's private ledger, as well as send assets to the blockchain. But it is impossible to receive funds from blockchain.</li>\n</ul></p>\n",
      "name": "Off-chain / Account"
    },
    {
      "description": "<p>Endpoint to handle operations between Tatum Private ledger and the blockchain, e.g. create blockchain transactions from the Ledger accounts,\ncreate custom Ethereum ERC20 tokens, Stellar XLM or Ripple XRP custom assets and register them as the regular currency into the Tatum Private LEdger.</p>\n",
      "name": "Off-chain / Blockchain"
    },
    {
      "description": "<p>Endpoint used to create, cancel or complete withdrawals from Tatum to supported blockchains made by your customers.\nWithdrawals are always a multi-step operations, which consists of the following steps:\n<ul>\n<li><b>create withdrawal</b></li>\n<li><b>perform blockchain transaction</b></li>\n<li><b>complete withdrawal</b></li>\n<li><b>cancel withdrawal</b>, when any of the previous operation fails</li>\n</ul>\n</p>\n",
      "name": "Off-chain / Withdrawal"
    },
    {
      "description": "<p>Scrypta Blockchain enables access to most commonly used Scrypta methods. These methods bring small level of abstraction,\nand are used for the type of applications that want to communicate with blockchain directly. Some of the methods are used alongside Tatum Private Ledger\nto connect blockchain and private ledger together, like wallet generation or getting information about transactions.<br/>\nTatum supports 2 chains:\n<ul><li>Mainnet - is regular live chain</li>\n<li>Testnet3 - test chain used for testing purposes. Coins on test chain have no value and can be obtained from Faucet, e.g. <a target=\"_blank\" href=\"https://testnet-faucet.mempool.co/\">https://testnet-faucet.mempool.co/</a></li></ul><br/>\nTatum supports BIP44 HD wallets. It is very convenient and secure, since it can generate 2^31 addresses from 1 mnemonic phrase. It is possible to generate this type of wallet with 1 simple API call.</p>\n",
      "name": "Blockchain / Scrypta"
    },
    {
      "description": "<p>Ethereum Blockchain enables access to most commonly used Ethereum methods. These methods bring small level of abstraction,\n and are used for the type of applications that want to communicate with blockchain directly. Some of the methods are used alongside Tatum Private Ledger\n to connect blockchain and private ledger together, like wallet generation or getting information about transactions.<br/>\nTatum supports 2 chains:\n<ul><li>Mainnet - regular live chain\n<li>Ropsten - test chain used for testing purposes. Coins on test chain have no value and can be obtained from\nFaucet, e.g. <a target=\"_blank\" href=\"https://faucet.ropsten.be/\">https://faucet.ropsten.be/</a></li></ul><br/>\nTatum supports BIP44 HD wallets. It is very convenient and secure, since it can generate 2^31 addresses from 1 mnemonic phrase. It is possible to generate this type of wallet with 1 simple API call.</p>\n",
      "name": "Blockchain / Ethereum"
    },
    {
      "description": "<p>Scrypta Cash Blockchain enables access to most commonly used Scrypta Cash methods. These methods bring small level of abstraction,\n and are used for the type of applications that want to communicate with blockchain directly. Some of the methods are used alongside Tatum Private Ledger\n to connect blockchain and private ledger together, like wallet generation or getting information about transactions.<br/>\nTatum supports 2 chains:\n  <ul><li>Mainnet - is regular live chain</li>\n  <li>Testnet - test chain used for testing purposes. Coins on test chain have no value and can be obtained from Faucet, e.g. <a target=\"_blank\" href=\"https://faucet.fullstack.cash/\">https://faucet.fullstack.cash/</a></li></ul>\n  </ul>\nTatum supports BIP44 HD wallets. It is very convenient and secure, since it can generate 2^31 addresses from 1 mnemonic phrase. It is possible to generate this type of wallet with 1 simple API call.</p>\n",
      "name": "Blockchain / Scrypta Cash"
    },
    {
      "description": "<p>Litecoin Blockchain enables access to most commonly used Litecoin methods. These methods bring small level of abstraction,\n and are used for the type of applications that want to communicate with blockchain directly. Some of the methods are used alongside Tatum Private Ledger\n to connect blockchain and private ledger together, like wallet generation or getting information about transactions.<br/>\nTatum supports 2 chains:\n  <ul><li>Mainnet - is regular live chain</li>\n  <li>Testnet - test chain used for testing purposes. Coins on test chain have no value and can be obtained from Faucet, e.g. <a target=\"_blank\" href=\"http://testnet.litecointools.com/\">http://testnet.litecointools.com/</a></li></ul>\nTatum supports BIP44 HD wallets. It is very convenient and secure, since it can generate 2^31 addresses from 1 mnemonic phrase. It is possible to generate this type of wallet with 1 simple API call.</p>\n",
      "name": "Blockchain / Litecoin"
    },
    {
      "description": "<p>XRP Blockchain enables access to most commonly used XRP methods. These methods bring small level of abstraction,\n and are used for the type of applications that want to communicate with blockchain directly. Some of the methods are used alongside Tatum Private Ledger\n to connect blockchain and private ledger together, like wallet generation or getting information about transactions.<br/>\n Tatum supports 2 chains:\n<ul><li> Mainnet - regular live chain</li>\n<li>Test chain - used for testing purposes. Coins on test chain have no value and can be obtained from Faucet, e.g. <a href=\"https://developers.ripple.com/xrp-test-net-faucet.html\" target=\"_blank\">https://developers.ripple.com/xrp-test-net-faucet.html</a>.</li></ul></p>\n<p><br/>In order to start using XRP blockchain, first we need to create an XRP account. In XRP, same account is used for Mainnet and Test chain. In order to have account activated, it must be credited with 20 XRP. Because of this requirement, it is common to use one account for all customers and differentiate them via Destination tags, number included in every transaction as an account distinguisher.<br/>\nWhen offchain deposit address is created for the ledger account, Destination tag is generated, e.g. 12345 for that account. When transaction to the blockchain should be performed, it should contain address of the recipient and Destination tag as an account distinguisher.</p>\n",
      "name": "Blockchain / XRP"
    },
    {
      "description": "<p>XLM Blockchain enables access to most commonly used XLM methods. These methods bring small level of abstraction,\nand are used for the type of applications that want to communicate with blockchain directly. Some of the methods are used alongside Tatum Private Ledger\nto connect blockchain and private ledger together, like wallet generation or getting information about transactions.<br/>\nTatum supports 2 chains:\n<ul><li> Mainnet - regular live chain</li>\n<li>Test chain - used for testing purposes. Coins on test chain have no value and can be obtained from Faucet, e.g. <a href=\"https://friendbot.stellar.org/?addr=address\" target=\"_blank\">https://friendbot.stellar.org/?addr=address</a>.</li></ul>\n<br/>In order to start using XLM blockchain, first we need to create an XLM account. In order to have account activated, it must be credited with 0.5 XLM.  Because of this requirement, it is common to use one account for all customers and differentiate them via memo - short text / number information included in every transaction as an account distinguisher.<br/>\nWhen offchain deposit address is created for the ledger account, memo is generated, e.g. 12345 for that account. When transaction to the blockchain should be performed, it should contain address of the recipient and memo as an account distinguisher.</p>\n",
      "name": "Blockchain / XLM"
    },
    {
      "description": "<p>Record section enables storing of records on the blockchain. Record is stored permanently, it cannot be changed,\ndeleted or modified by anyone and will be stored on the blockchain forever. Tatum supports following blockchains, where data can be stored:</p>\n<ul>\n<li>Ethereum</li>\n</ul>\n",
      "name": "Blockchain / Record"
    },
    {
      "description": "<p>Binance Blockchain enables access to most commonly used Binance methods.Tatum does not support offchain capabilities for the BNB blockchain. <br/>\nTatum supports 2 chains:\n<ul><li>Mainnet - regular live chain\n<li>Testnet - test chain used for testing purposes. Coins on test chain have no value and can be obtained from\nFaucet, e.g. <a target=\"_blank\" href=\"https://www.binance.com/en/dex/testnet/address\">https://www.binance.com/en/dex/testnet/address</a></li></ul>\nTatum supports BIP44 HD wallets. It is very convenient and secure, since it can generate 2^31 addresses from 1 mnemonic phrase. It is possible to generate this type of wallet with 1 simple API call.</p>\n",
      "name": "Blockchain / Binance"
    },
    {
      "description": "<p>VeChain Blockchain enables access to most commonly used VeChain methods. Tatum does not support offchain capabilities for the VET blockchain.\nTatum KMS is not supported for VET transactions. VET supports 2 native assets - VET and VTHO. VTHO is used to paying for the transaction fee.\n<br/>\nTatum supports 2 chains:\n<ul><li>Mainnet - regular live chain\n<li>Testnet - test chain used for testing purposes. Coins on test chain have no value and can be obtained from\nFaucet, e.g. <a target=\"_blank\" href=\"https://faucet.vecha.in/\">https://faucet.vecha.in/</a></li></ul>\nTatum supports BIP44 HD wallets. It is very convenient and secure, since it can generate 2^31 addresses from 1 mnemonic phrase. It is possible to generate this type of wallet with 1 simple API call.</p>\n",
      "name": "Blockchain / VeChain"
    },
    {
      "description": "<p>NEO Blockchain enables access to most commonly used NEO methods. Tatum does not support offchain capabilities for the NEO blockchain.\nTatum KMS is not supported for NEO transactions. NEO supports 2 native assets - NEO and GAS. GAS is used to paying for the transaction fee.<br/>\nTatum supports 2 chains:\n<ul><li>Mainnet - regular live chain\n<li>Testnet - test chain used for testing purposes. Coins on test chain have no value and can be obtained from\nFaucet, e.g. <a target=\"_blank\" href=\"http://neo.mywish.io/\">http://neo.mywish.io/</a></li></ul></p>\n",
      "name": "Blockchain / NEO"
    },
    {
      "description": "<p>Libra Blockchain enables access to most commonly used Libra methods. Libra is currently in TestNet phase only.\n Libra is under heavy development and the functionality might change in the future. Tatum does not support offchain capabilities for the Libra blockchain.</p>\n",
      "name": "Blockchain / Libra"
    }
  ],
  "paths": {
    "/v3/scrypta/wallet": {
      "get": {
        "description": "<h4>1 credit per API call.</h4><br/><p>Tatum supports BIP44 HD wallets. It is very convenient and secure, since it can generate 2^31 addresses from 1 mnemonic phrase. Mnemonic phrase consists of 24 special words in defined order and can restore access to all generated addresses and private keys.<br/>Each address is identified by 3 main values:<ul><li>Private Key - your secret value, which should never be revealed</li><li>Public Key - public address to be published</li><li>Derivation index - index of generated address</li></ul></p><p>Tatum follows BIP44 specification and generates for Scrypta wallet with derivation path m'/44'/0'/0'/0. More about BIP44 HD wallets can be found here - <a target=\"_blank\" href=\"https://github.com/scrypta/bips/blob/master/bip-0044.mediawiki\">https://github.com/scrypta/bips/blob/master/bip-0044.mediawiki</a>.\nGenerate BIP44 compatible Scrypta wallet.</p>\n",
        "operationId": "ScryptaGenerateWallet",
        "parameters": [
          {
            "description": "Mnemonic to use for generation of extended public and private keys.",
            "in": "query",
            "name": "mnemonic",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 500
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Wallet"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            },
            "description": "Bad Request. Validation failed for the given object in the HTTP Body or Request parameters."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Error401NotActive"
                    },
                    {
                      "$ref": "#/components/schemas/Error401Invalid"
                    }
                  ]
                }
              }
            },
            "description": "Unauthorized. Not valid or inactive subscription key present in the HTTP Header."
          },
          "403": {
            "description": "Forbidden. The request is authenticated, but it is not possible to required perform operation due to logical error or invalid permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403ScryptaBlockchain"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error500"
                }
              }
            },
            "description": "Internal server error. There was an error on the server during the processing of the request."
          }
        },
        "security": [
          {
            "X-Api-Key": []
          }
        ],
        "x-code-samples": [
          {
            "lang": "cURL",
            "source": "curl --request GET \\\n  --url 'https://api-eu1.tatum.io/v3/scrypta/wallet?mnemonic=SOME_STRING_VALUE' \\\n  --header 'x-api-key: REPLACE_KEY_VALUE'"
          },
          {
            "lang": "Node",
            "source": "var http = require(\"https\");\n\nvar options = {\n  \"method\": \"GET\",\n  \"hostname\": \"api-eu1.tatum.io\",\n  \"port\": null,\n  \"path\": \"/v3/scrypta/wallet?mnemonic=SOME_STRING_VALUE\",\n  \"headers\": {\n    \"x-api-key\": \"REPLACE_KEY_VALUE\"\n  }\n};\n\nvar req = http.request(options, function (res) {\n  var chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    var body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"
          },
          {
            "lang": "Java",
            "source": "HttpResponse<String> response = Unirest.get(\"https://api-eu1.tatum.io/v3/scrypta/wallet?mnemonic=SOME_STRING_VALUE\")\n  .header(\"x-api-key\", \"REPLACE_KEY_VALUE\")\n  .asString();"
          },
          {
            "lang": "Go",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api-eu1.tatum.io/v3/scrypta/wallet?mnemonic=SOME_STRING_VALUE\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"x-api-key\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "lang": "PHP",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => \"https://api-eu1.tatum.io/v3/scrypta/wallet?mnemonic=SOME_STRING_VALUE\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => array(\n    \"x-api-key: REPLACE_KEY_VALUE\"\n  ),\n));\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
          },
          {
            "lang": "Python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"api-eu1.tatum.io\")\n\nheaders = { 'x-api-key': \"REPLACE_KEY_VALUE\" }\n\nconn.request(\"GET\", \"/v3/scrypta/wallet?mnemonic=SOME_STRING_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "C",
            "source": "CURL *hnd = curl_easy_init();\n\ncurl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, \"GET\");\ncurl_easy_setopt(hnd, CURLOPT_URL, \"https://api-eu1.tatum.io/v3/scrypta/wallet?mnemonic=SOME_STRING_VALUE\");\n\nstruct curl_slist *headers = NULL;\nheaders = curl_slist_append(headers, \"x-api-key: REPLACE_KEY_VALUE\");\ncurl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);\n\nCURLcode ret = curl_easy_perform(hnd);"
          },
          {
            "lang": "C#",
            "source": "var client = new RestClient(\"https://api-eu1.tatum.io/v3/scrypta/wallet?mnemonic=SOME_STRING_VALUE\");\nvar request = new RestRequest(Method.GET);\nrequest.AddHeader(\"x-api-key\", \"REPLACE_KEY_VALUE\");\nIRestResponse response = client.Execute(request);"
          },
          {
            "lang": "Javascript - jQuery",
            "source": "var settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://api-eu1.tatum.io/v3/scrypta/wallet?mnemonic=SOME_STRING_VALUE\",\n  \"method\": \"GET\",\n  \"headers\": {\n    \"x-api-key\": \"REPLACE_KEY_VALUE\"\n  }\n}\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"
          },
          {
            "lang": "Objective-C",
            "source": "#import <Foundation/Foundation.h>\n\nNSDictionary *headers = @{ @\"x-api-key\": @\"REPLACE_KEY_VALUE\" };\n\nNSMutableURLRequest *request = [NSMutableURLRequest requestWithURL:[NSURL URLWithString:@\"https://api-eu1.tatum.io/v3/scrypta/wallet?mnemonic=SOME_STRING_VALUE\"]\n                                                       cachePolicy:NSURLRequestUseProtocolCachePolicy\n                                                   timeoutInterval:10.0];\n[request setHTTPMethod:@\"GET\"];\n[request setAllHTTPHeaderFields:headers];\n\nNSURLSession *session = [NSURLSession sharedSession];\nNSURLSessionDataTask *dataTask = [session dataTaskWithRequest:request\n                                            completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {\n                                                if (error) {\n                                                    NSLog(@\"%@\", error);\n                                                } else {\n                                                    NSHTTPURLResponse *httpResponse = (NSHTTPURLResponse *) response;\n                                                    NSLog(@\"%@\", httpResponse);\n                                                }\n                                            }];\n[dataTask resume];"
          },
          {
            "lang": "OCaml",
            "source": "open Cohttp_lwt_unix\nopen Cohttp\nopen Lwt\n\nlet uri = Uri.of_string \"https://api-eu1.tatum.io/v3/scrypta/wallet?mnemonic=SOME_STRING_VALUE\" in\nlet headers = Header.add (Header.init ()) \"x-api-key\" \"REPLACE_KEY_VALUE\" in\n\nClient.call ~headers `GET uri\n>>= fun (res, body_stream) ->\n  (* Do stuff with the result *)"
          },
          {
            "lang": "Ruby",
            "source": "require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://api-eu1.tatum.io/v3/scrypta/wallet?mnemonic=SOME_STRING_VALUE\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Get.new(url)\nrequest[\"x-api-key\"] = 'REPLACE_KEY_VALUE'\n\nresponse = http.request(request)\nputs response.read_body"
          },
          {
            "lang": "Swift",
            "source": "import Foundation\n\nlet headers = [\"x-api-key\": \"REPLACE_KEY_VALUE\"]\n\nlet request = NSMutableURLRequest(url: NSURL(string: \"https://api-eu1.tatum.io/v3/scrypta/wallet?mnemonic=SOME_STRING_VALUE\")! as URL,\n                                        cachePolicy: .useProtocolCachePolicy,\n                                    timeoutInterval: 10.0)\nrequest.httpMethod = \"GET\"\nrequest.allHTTPHeaderFields = headers\n\nlet session = URLSession.shared\nlet dataTask = session.dataTask(with: request as URLRequest, completionHandler: { (data, response, error) -> Void in\n  if (error != nil) {\n    print(error)\n  } else {\n    let httpResponse = response as? HTTPURLResponse\n    print(httpResponse)\n  }\n})\n\ndataTask.resume()"
          }
        ],
        "summary": "Generate Scrypta wallet",
        "tags": [
          "Blockchain / Scrypta"
        ]
      }
    },
    "/v3/scrypta/address/{xpub}/{index}": {
      "get": {
        "description": "<h4>1 credit per API call.</h4><br/>\n<p>Generate Scrypta deposit address from Extended public key. Deposit address is generated for the concrete index - each extended public key can generate\nup to 2^32 addresses starting from index 0 until 2^31.</p>\n",
        "operationId": "ScryptaGenerateAddress",
        "parameters": [
          {
            "description": "Extended public key of wallet.",
            "in": "path",
            "name": "xpub",
            "required": true,
            "example": "xpub6EsCk1uU6cJzqvP9CdsTiJwT2rF748YkPnhv5Qo8q44DG7nn2vbyt48YRsNSUYS44jFCW9gwvD9kLQu9AuqXpTpM1c5hgg9PsuBLdeNncid",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Derivation index of desired address to be generated.",
            "in": "path",
            "name": "index",
            "required": true,
            "example": 1,
            "schema": {
              "type": "number",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "address": {
                      "type": "string",
                      "description": "Scrypta address",
                      "example": "n36h3pAH7sC3z8KMB47BjbqvW2aJd2oTi7"
                    }
                  }
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            },
            "description": "Bad Request. Validation failed for the given object in the HTTP Body or Request parameters."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Error401NotActive"
                    },
                    {
                      "$ref": "#/components/schemas/Error401Invalid"
                    }
                  ]
                }
              }
            },
            "description": "Unauthorized. Not valid or inactive subscription key present in the HTTP Header."
          },
          "403": {
            "description": "Forbidden. The request is authenticated, but it is not possible to required perform operation due to logical error or invalid permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Error403AccountIncompatibleXpubScrypta"
                    },
                    {
                      "$ref": "#/components/schemas/Error403AccountAddressGeneral"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error500"
                }
              }
            },
            "description": "Internal server error. There was an error on the server during the processing of the request."
          }
        },
        "security": [
          {
            "X-Api-Key": []
          }
        ],
        "x-code-samples": [
          {
            "lang": "cURL",
            "source": "curl --request GET \\\n  --url https://api-eu1.tatum.io/v3/scrypta/address/%7Bxpub%7D/%7Bindex%7D \\\n  --header 'x-api-key: REPLACE_KEY_VALUE'"
          },
          {
            "lang": "Node",
            "source": "var http = require(\"https\");\n\nvar options = {\n  \"method\": \"GET\",\n  \"hostname\": \"api-eu1.tatum.io\",\n  \"port\": null,\n  \"path\": \"/v3/scrypta/address/%7Bxpub%7D/%7Bindex%7D\",\n  \"headers\": {\n    \"x-api-key\": \"REPLACE_KEY_VALUE\"\n  }\n};\n\nvar req = http.request(options, function (res) {\n  var chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    var body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"
          },
          {
            "lang": "Java",
            "source": "HttpResponse<String> response = Unirest.get(\"https://api-eu1.tatum.io/v3/scrypta/address/%7Bxpub%7D/%7Bindex%7D\")\n  .header(\"x-api-key\", \"REPLACE_KEY_VALUE\")\n  .asString();"
          },
          {
            "lang": "Go",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api-eu1.tatum.io/v3/scrypta/address/%7Bxpub%7D/%7Bindex%7D\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"x-api-key\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "lang": "PHP",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => \"https://api-eu1.tatum.io/v3/scrypta/address/%7Bxpub%7D/%7Bindex%7D\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => array(\n    \"x-api-key: REPLACE_KEY_VALUE\"\n  ),\n));\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
          },
          {
            "lang": "Python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"api-eu1.tatum.io\")\n\nheaders = { 'x-api-key': \"REPLACE_KEY_VALUE\" }\n\nconn.request(\"GET\", \"/v3/scrypta/address/%7Bxpub%7D/%7Bindex%7D\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "C",
            "source": "CURL *hnd = curl_easy_init();\n\ncurl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, \"GET\");\ncurl_easy_setopt(hnd, CURLOPT_URL, \"https://api-eu1.tatum.io/v3/scrypta/address/%7Bxpub%7D/%7Bindex%7D\");\n\nstruct curl_slist *headers = NULL;\nheaders = curl_slist_append(headers, \"x-api-key: REPLACE_KEY_VALUE\");\ncurl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);\n\nCURLcode ret = curl_easy_perform(hnd);"
          },
          {
            "lang": "C#",
            "source": "var client = new RestClient(\"https://api-eu1.tatum.io/v3/scrypta/address/%7Bxpub%7D/%7Bindex%7D\");\nvar request = new RestRequest(Method.GET);\nrequest.AddHeader(\"x-api-key\", \"REPLACE_KEY_VALUE\");\nIRestResponse response = client.Execute(request);"
          },
          {
            "lang": "Javascript - jQuery",
            "source": "var settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://api-eu1.tatum.io/v3/scrypta/address/%7Bxpub%7D/%7Bindex%7D\",\n  \"method\": \"GET\",\n  \"headers\": {\n    \"x-api-key\": \"REPLACE_KEY_VALUE\"\n  }\n}\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"
          },
          {
            "lang": "Objective-C",
            "source": "#import <Foundation/Foundation.h>\n\nNSDictionary *headers = @{ @\"x-api-key\": @\"REPLACE_KEY_VALUE\" };\n\nNSMutableURLRequest *request = [NSMutableURLRequest requestWithURL:[NSURL URLWithString:@\"https://api-eu1.tatum.io/v3/scrypta/address/%7Bxpub%7D/%7Bindex%7D\"]\n                                                       cachePolicy:NSURLRequestUseProtocolCachePolicy\n                                                   timeoutInterval:10.0];\n[request setHTTPMethod:@\"GET\"];\n[request setAllHTTPHeaderFields:headers];\n\nNSURLSession *session = [NSURLSession sharedSession];\nNSURLSessionDataTask *dataTask = [session dataTaskWithRequest:request\n                                            completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {\n                                                if (error) {\n                                                    NSLog(@\"%@\", error);\n                                                } else {\n                                                    NSHTTPURLResponse *httpResponse = (NSHTTPURLResponse *) response;\n                                                    NSLog(@\"%@\", httpResponse);\n                                                }\n                                            }];\n[dataTask resume];"
          },
          {
            "lang": "OCaml",
            "source": "open Cohttp_lwt_unix\nopen Cohttp\nopen Lwt\n\nlet uri = Uri.of_string \"https://api-eu1.tatum.io/v3/scrypta/address/%7Bxpub%7D/%7Bindex%7D\" in\nlet headers = Header.add (Header.init ()) \"x-api-key\" \"REPLACE_KEY_VALUE\" in\n\nClient.call ~headers `GET uri\n>>= fun (res, body_stream) ->\n  (* Do stuff with the result *)"
          },
          {
            "lang": "Ruby",
            "source": "require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://api-eu1.tatum.io/v3/scrypta/address/%7Bxpub%7D/%7Bindex%7D\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Get.new(url)\nrequest[\"x-api-key\"] = 'REPLACE_KEY_VALUE'\n\nresponse = http.request(request)\nputs response.read_body"
          },
          {
            "lang": "Swift",
            "source": "import Foundation\n\nlet headers = [\"x-api-key\": \"REPLACE_KEY_VALUE\"]\n\nlet request = NSMutableURLRequest(url: NSURL(string: \"https://api-eu1.tatum.io/v3/scrypta/address/%7Bxpub%7D/%7Bindex%7D\")! as URL,\n                                        cachePolicy: .useProtocolCachePolicy,\n                                    timeoutInterval: 10.0)\nrequest.httpMethod = \"GET\"\nrequest.allHTTPHeaderFields = headers\n\nlet session = URLSession.shared\nlet dataTask = session.dataTask(with: request as URLRequest, completionHandler: { (data, response, error) -> Void in\n  if (error != nil) {\n    print(error)\n  } else {\n    let httpResponse = response as? HTTPURLResponse\n    print(httpResponse)\n  }\n})\n\ndataTask.resume()"
          }
        ],
        "summary": "Generate Scrypta deposit address from Extended public key",
        "tags": [
          "Blockchain / Scrypta"
        ]
      }
    },
    "/v3/scrypta/wallet/priv": {
      "post": {
        "description": "<h4>1 credit per API call.</h4><br/>\n<p>Generate private key for address from mnemonic for given derivation path index. Private key is generated for the concrete index - each mnemonic\ncan generate up to 2^32 private keys starting from index 0 until 2^31.</p>\n",
        "operationId": "ScryptaGenerateAddressPrivateKey",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivKeyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivKey"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            },
            "description": "Bad Request. Validation failed for the given object in the HTTP Body or Request parameters."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Error401NotActive"
                    },
                    {
                      "$ref": "#/components/schemas/Error401Invalid"
                    }
                  ]
                }
              }
            },
            "description": "Unauthorized. Not valid or inactive subscription key present in the HTTP Header."
          },
          "403": {
            "description": "Forbidden. The request is authenticated, but it is not possible to required perform operation due to logical error or invalid permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403BlockchainPrivateFailed"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error500"
                }
              }
            },
            "description": "Internal server error. There was an error on the server during the processing of the request."
          }
        },
        "security": [
          {
            "X-Api-Key": []
          }
        ],
        "x-code-samples": [
          {
            "lang": "cURL",
            "source": "curl --request POST \\\n  --url https://api-eu1.tatum.io/v3/scrypta/wallet/priv \\\n  --header 'content-type: application/json' \\\n  --header 'x-api-key: REPLACE_KEY_VALUE' \\\n  --data '{\"index\":4,\"mnemonic\":\"urge pulp usage sister evidence arrest palm math please chief egg abuse\"}'"
          },
          {
            "lang": "Node",
            "source": "var http = require(\"https\");\n\nvar options = {\n  \"method\": \"POST\",\n  \"hostname\": \"api-eu1.tatum.io\",\n  \"port\": null,\n  \"path\": \"/v3/scrypta/wallet/priv\",\n  \"headers\": {\n    \"content-type\": \"application/json\",\n    \"x-api-key\": \"REPLACE_KEY_VALUE\"\n  }\n};\n\nvar req = http.request(options, function (res) {\n  var chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    var body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.write(JSON.stringify({\n  index: 4,\n  mnemonic: 'urge pulp usage sister evidence arrest palm math please chief egg abuse'\n}));\nreq.end();"
          },
          {
            "lang": "Java",
            "source": "HttpResponse<String> response = Unirest.post(\"https://api-eu1.tatum.io/v3/scrypta/wallet/priv\")\n  .header(\"content-type\", \"application/json\")\n  .header(\"x-api-key\", \"REPLACE_KEY_VALUE\")\n  .body(\"{\\\"index\\\":4,\\\"mnemonic\\\":\\\"urge pulp usage sister evidence arrest palm math please chief egg abuse\\\"}\")\n  .asString();"
          },
          {
            "lang": "Go",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api-eu1.tatum.io/v3/scrypta/wallet/priv\"\n\n\tpayload := strings.NewReader(\"{\\\"index\\\":4,\\\"mnemonic\\\":\\\"urge pulp usage sister evidence arrest palm math please chief egg abuse\\\"}\")\n\n\treq, _ := http.NewRequest(\"POST\", url, payload)\n\n\treq.Header.Add(\"content-type\", \"application/json\")\n\treq.Header.Add(\"x-api-key\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "lang": "PHP",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => \"https://api-eu1.tatum.io/v3/scrypta/wallet/priv\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n  CURLOPT_POSTFIELDS => \"{\\\"index\\\":4,\\\"mnemonic\\\":\\\"urge pulp usage sister evidence arrest palm math please chief egg abuse\\\"}\",\n  CURLOPT_HTTPHEADER => array(\n    \"content-type: application/json\",\n    \"x-api-key: REPLACE_KEY_VALUE\"\n  ),\n));\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
          },
          {
            "lang": "Python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"api-eu1.tatum.io\")\n\npayload = \"{\\\"index\\\":4,\\\"mnemonic\\\":\\\"urge pulp usage sister evidence arrest palm math please chief egg abuse\\\"}\"\n\nheaders = {\n    'content-type': \"application/json\",\n    'x-api-key': \"REPLACE_KEY_VALUE\"\n    }\n\nconn.request(\"POST\", \"/v3/scrypta/wallet/priv\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "C",
            "source": "CURL *hnd = curl_easy_init();\n\ncurl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, \"POST\");\ncurl_easy_setopt(hnd, CURLOPT_URL, \"https://api-eu1.tatum.io/v3/scrypta/wallet/priv\");\n\nstruct curl_slist *headers = NULL;\nheaders = curl_slist_append(headers, \"content-type: application/json\");\nheaders = curl_slist_append(headers, \"x-api-key: REPLACE_KEY_VALUE\");\ncurl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);\n\ncurl_easy_setopt(hnd, CURLOPT_POSTFIELDS, \"{\\\"index\\\":4,\\\"mnemonic\\\":\\\"urge pulp usage sister evidence arrest palm math please chief egg abuse\\\"}\");\n\nCURLcode ret = curl_easy_perform(hnd);"
          },
          {
            "lang": "C#",
            "source": "var client = new RestClient(\"https://api-eu1.tatum.io/v3/scrypta/wallet/priv\");\nvar request = new RestRequest(Method.POST);\nrequest.AddHeader(\"content-type\", \"application/json\");\nrequest.AddHeader(\"x-api-key\", \"REPLACE_KEY_VALUE\");\nrequest.AddParameter(\"application/json\", \"{\\\"index\\\":4,\\\"mnemonic\\\":\\\"urge pulp usage sister evidence arrest palm math please chief egg abuse\\\"}\", ParameterType.RequestBody);\nIRestResponse response = client.Execute(request);"
          },
          {
            "lang": "Javascript - jQuery",
            "source": "var settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://api-eu1.tatum.io/v3/scrypta/wallet/priv\",\n  \"method\": \"POST\",\n  \"headers\": {\n    \"content-type\": \"application/json\",\n    \"x-api-key\": \"REPLACE_KEY_VALUE\"\n  },\n  \"processData\": false,\n  \"data\": \"{\\\"index\\\":4,\\\"mnemonic\\\":\\\"urge pulp usage sister evidence arrest palm math please chief egg abuse\\\"}\"\n}\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"
          },
          {
            "lang": "Objective-C",
            "source": "#import <Foundation/Foundation.h>\n\nNSDictionary *headers = @{ @\"content-type\": @\"application/json\",\n                           @\"x-api-key\": @\"REPLACE_KEY_VALUE\" };\nNSDictionary *parameters = @{ @\"index\": @4,\n                              @\"mnemonic\": @\"urge pulp usage sister evidence arrest palm math please chief egg abuse\" };\n\nNSData *postData = [NSJSONSerialization dataWithJSONObject:parameters options:0 error:nil];\n\nNSMutableURLRequest *request = [NSMutableURLRequest requestWithURL:[NSURL URLWithString:@\"https://api-eu1.tatum.io/v3/scrypta/wallet/priv\"]\n                                                       cachePolicy:NSURLRequestUseProtocolCachePolicy\n                                                   timeoutInterval:10.0];\n[request setHTTPMethod:@\"POST\"];\n[request setAllHTTPHeaderFields:headers];\n[request setHTTPBody:postData];\n\nNSURLSession *session = [NSURLSession sharedSession];\nNSURLSessionDataTask *dataTask = [session dataTaskWithRequest:request\n                                            completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {\n                                                if (error) {\n                                                    NSLog(@\"%@\", error);\n                                                } else {\n                                                    NSHTTPURLResponse *httpResponse = (NSHTTPURLResponse *) response;\n                                                    NSLog(@\"%@\", httpResponse);\n                                                }\n                                            }];\n[dataTask resume];"
          },
          {
            "lang": "OCaml",
            "source": "open Cohttp_lwt_unix\nopen Cohttp\nopen Lwt\n\nlet uri = Uri.of_string \"https://api-eu1.tatum.io/v3/scrypta/wallet/priv\" in\nlet headers = Header.add_list (Header.init ()) [\n  (\"content-type\", \"application/json\");\n  (\"x-api-key\", \"REPLACE_KEY_VALUE\");\n] in\nlet body = Cohttp_lwt_body.of_string \"{\\\"index\\\":4,\\\"mnemonic\\\":\\\"urge pulp usage sister evidence arrest palm math please chief egg abuse\\\"}\" in\n\nClient.call ~headers ~body `POST uri\n>>= fun (res, body_stream) ->\n  (* Do stuff with the result *)"
          },
          {
            "lang": "Ruby",
            "source": "require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://api-eu1.tatum.io/v3/scrypta/wallet/priv\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Post.new(url)\nrequest[\"content-type\"] = 'application/json'\nrequest[\"x-api-key\"] = 'REPLACE_KEY_VALUE'\nrequest.body = \"{\\\"index\\\":4,\\\"mnemonic\\\":\\\"urge pulp usage sister evidence arrest palm math please chief egg abuse\\\"}\"\n\nresponse = http.request(request)\nputs response.read_body"
          },
          {
            "lang": "Swift",
            "source": "import Foundation\n\nlet headers = [\n  \"content-type\": \"application/json\",\n  \"x-api-key\": \"REPLACE_KEY_VALUE\"\n]\nlet parameters = [\n  \"index\": 4,\n  \"mnemonic\": \"urge pulp usage sister evidence arrest palm math please chief egg abuse\"\n] as [String : Any]\n\nlet postData = JSONSerialization.data(withJSONObject: parameters, options: [])\n\nlet request = NSMutableURLRequest(url: NSURL(string: \"https://api-eu1.tatum.io/v3/scrypta/wallet/priv\")! as URL,\n                                        cachePolicy: .useProtocolCachePolicy,\n                                    timeoutInterval: 10.0)\nrequest.httpMethod = \"POST\"\nrequest.allHTTPHeaderFields = headers\nrequest.httpBody = postData as Data\n\nlet session = URLSession.shared\nlet dataTask = session.dataTask(with: request as URLRequest, completionHandler: { (data, response, error) -> Void in\n  if (error != nil) {\n    print(error)\n  } else {\n    let httpResponse = response as? HTTPURLResponse\n    print(httpResponse)\n  }\n})\n\ndataTask.resume()"
          }
        ],
        "summary": "Generate Scrypta private key",
        "tags": [
          "Blockchain / Scrypta"
        ]
      }
    },
    "/v3/scrypta/info": {
      "get": {
        "description": "<h4>1 credit per API call.</h4><br/><p>Get Scrypta Blockchain Information. Obtain basic info like testnet / mainent version of the chain, current block number and it's hash.</p>",
        "operationId": "ScryptaGetBlockChainInfo",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScryptaInfo"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Error401NotActive"
                    },
                    {
                      "$ref": "#/components/schemas/Error401Invalid"
                    }
                  ]
                }
              }
            },
            "description": "Unauthorized. Not valid or inactive subscription key present in the HTTP Header."
          },
          "403": {
            "description": "Forbidden. The request is authenticated, but it is not possible to required perform operation due to logical error or invalid permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403ScryptaBlockchain"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error500"
                }
              }
            },
            "description": "Internal server error. There was an error on the server during the processing of the request."
          }
        },
        "security": [
          {
            "X-Api-Key": []
          }
        ],
        "x-code-samples": [
          {
            "lang": "cURL",
            "source": "curl --request GET \\\n  --url https://api-eu1.tatum.io/v3/scrypta/info \\\n  --header 'x-api-key: REPLACE_KEY_VALUE'"
          },
          {
            "lang": "Node",
            "source": "var http = require(\"https\");\n\nvar options = {\n  \"method\": \"GET\",\n  \"hostname\": \"api-eu1.tatum.io\",\n  \"port\": null,\n  \"path\": \"/v3/scrypta/info\",\n  \"headers\": {\n    \"x-api-key\": \"REPLACE_KEY_VALUE\"\n  }\n};\n\nvar req = http.request(options, function (res) {\n  var chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    var body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"
          },
          {
            "lang": "Java",
            "source": "HttpResponse<String> response = Unirest.get(\"https://api-eu1.tatum.io/v3/scrypta/info\")\n  .header(\"x-api-key\", \"REPLACE_KEY_VALUE\")\n  .asString();"
          },
          {
            "lang": "Go",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api-eu1.tatum.io/v3/scrypta/info\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"x-api-key\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "lang": "PHP",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => \"https://api-eu1.tatum.io/v3/scrypta/info\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => array(\n    \"x-api-key: REPLACE_KEY_VALUE\"\n  ),\n));\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
          },
          {
            "lang": "Python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"api-eu1.tatum.io\")\n\nheaders = { 'x-api-key': \"REPLACE_KEY_VALUE\" }\n\nconn.request(\"GET\", \"/v3/scrypta/info\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "C",
            "source": "CURL *hnd = curl_easy_init();\n\ncurl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, \"GET\");\ncurl_easy_setopt(hnd, CURLOPT_URL, \"https://api-eu1.tatum.io/v3/scrypta/info\");\n\nstruct curl_slist *headers = NULL;\nheaders = curl_slist_append(headers, \"x-api-key: REPLACE_KEY_VALUE\");\ncurl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);\n\nCURLcode ret = curl_easy_perform(hnd);"
          },
          {
            "lang": "C#",
            "source": "var client = new RestClient(\"https://api-eu1.tatum.io/v3/scrypta/info\");\nvar request = new RestRequest(Method.GET);\nrequest.AddHeader(\"x-api-key\", \"REPLACE_KEY_VALUE\");\nIRestResponse response = client.Execute(request);"
          },
          {
            "lang": "Javascript - jQuery",
            "source": "var settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://api-eu1.tatum.io/v3/scrypta/info\",\n  \"method\": \"GET\",\n  \"headers\": {\n    \"x-api-key\": \"REPLACE_KEY_VALUE\"\n  }\n}\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"
          },
          {
            "lang": "Objective-C",
            "source": "#import <Foundation/Foundation.h>\n\nNSDictionary *headers = @{ @\"x-api-key\": @\"REPLACE_KEY_VALUE\" };\n\nNSMutableURLRequest *request = [NSMutableURLRequest requestWithURL:[NSURL URLWithString:@\"https://api-eu1.tatum.io/v3/scrypta/info\"]\n                                                       cachePolicy:NSURLRequestUseProtocolCachePolicy\n                                                   timeoutInterval:10.0];\n[request setHTTPMethod:@\"GET\"];\n[request setAllHTTPHeaderFields:headers];\n\nNSURLSession *session = [NSURLSession sharedSession];\nNSURLSessionDataTask *dataTask = [session dataTaskWithRequest:request\n                                            completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {\n                                                if (error) {\n                                                    NSLog(@\"%@\", error);\n                                                } else {\n                                                    NSHTTPURLResponse *httpResponse = (NSHTTPURLResponse *) response;\n                                                    NSLog(@\"%@\", httpResponse);\n                                                }\n                                            }];\n[dataTask resume];"
          },
          {
            "lang": "OCaml",
            "source": "open Cohttp_lwt_unix\nopen Cohttp\nopen Lwt\n\nlet uri = Uri.of_string \"https://api-eu1.tatum.io/v3/scrypta/info\" in\nlet headers = Header.add (Header.init ()) \"x-api-key\" \"REPLACE_KEY_VALUE\" in\n\nClient.call ~headers `GET uri\n>>= fun (res, body_stream) ->\n  (* Do stuff with the result *)"
          },
          {
            "lang": "Ruby",
            "source": "require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://api-eu1.tatum.io/v3/scrypta/info\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Get.new(url)\nrequest[\"x-api-key\"] = 'REPLACE_KEY_VALUE'\n\nresponse = http.request(request)\nputs response.read_body"
          },
          {
            "lang": "Swift",
            "source": "import Foundation\n\nlet headers = [\"x-api-key\": \"REPLACE_KEY_VALUE\"]\n\nlet request = NSMutableURLRequest(url: NSURL(string: \"https://api-eu1.tatum.io/v3/scrypta/info\")! as URL,\n                                        cachePolicy: .useProtocolCachePolicy,\n                                    timeoutInterval: 10.0)\nrequest.httpMethod = \"GET\"\nrequest.allHTTPHeaderFields = headers\n\nlet session = URLSession.shared\nlet dataTask = session.dataTask(with: request as URLRequest, completionHandler: { (data, response, error) -> Void in\n  if (error != nil) {\n    print(error)\n  } else {\n    let httpResponse = response as? HTTPURLResponse\n    print(httpResponse)\n  }\n})\n\ndataTask.resume()"
          }
        ],
        "summary": "Get Blockchain Information",
        "tags": [
          "Blockchain / Scrypta"
        ]
      }
    },
    "/v3/scrypta/block/hash/{i}": {
      "get": {
        "description": "<h4>1 credit per API call.</h4><br/><p>Get Scrypta Block hash. Returns hash of the block to get the block detail.</p>",
        "operationId": "ScryptaGetBlockHash",
        "parameters": [
          {
            "description": "The number of blocks preceding a particular block on a block chain.",
            "in": "path",
            "name": "i",
            "required": true,
            "schema": {
              "type": "number",
              "example": 1580117
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "hash": {
                      "type": "string",
                      "description": "Block hash",
                      "example": "0000000053f225e202cf27fe3046e06719efd3b31b5ab75fc5ef7f853c8b246f"
                    }
                  }
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            },
            "description": "Bad Request. Validation failed for the given object in the HTTP Body or Request parameters."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Error401NotActive"
                    },
                    {
                      "$ref": "#/components/schemas/Error401Invalid"
                    }
                  ]
                }
              }
            },
            "description": "Unauthorized. Not valid or inactive subscription key present in the HTTP Header."
          },
          "403": {
            "description": "Forbidden. The request is authenticated, but it is not possible to required perform operation due to logical error or invalid permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403ScryptaBlockchain"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error500"
                }
              }
            },
            "description": "Internal server error. There was an error on the server during the processing of the request."
          }
        },
        "security": [
          {
            "X-Api-Key": []
          }
        ],
        "x-code-samples": [
          {
            "lang": "cURL",
            "source": "curl --request GET \\\n  --url https://api-eu1.tatum.io/v3/scrypta/block/hash/%7Bi%7D \\\n  --header 'x-api-key: REPLACE_KEY_VALUE'"
          },
          {
            "lang": "Node",
            "source": "var http = require(\"https\");\n\nvar options = {\n  \"method\": \"GET\",\n  \"hostname\": \"api-eu1.tatum.io\",\n  \"port\": null,\n  \"path\": \"/v3/scrypta/block/hash/%7Bi%7D\",\n  \"headers\": {\n    \"x-api-key\": \"REPLACE_KEY_VALUE\"\n  }\n};\n\nvar req = http.request(options, function (res) {\n  var chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    var body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"
          },
          {
            "lang": "Java",
            "source": "HttpResponse<String> response = Unirest.get(\"https://api-eu1.tatum.io/v3/scrypta/block/hash/%7Bi%7D\")\n  .header(\"x-api-key\", \"REPLACE_KEY_VALUE\")\n  .asString();"
          },
          {
            "lang": "Go",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api-eu1.tatum.io/v3/scrypta/block/hash/%7Bi%7D\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"x-api-key\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "lang": "PHP",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => \"https://api-eu1.tatum.io/v3/scrypta/block/hash/%7Bi%7D\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => array(\n    \"x-api-key: REPLACE_KEY_VALUE\"\n  ),\n));\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
          },
          {
            "lang": "Python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"api-eu1.tatum.io\")\n\nheaders = { 'x-api-key': \"REPLACE_KEY_VALUE\" }\n\nconn.request(\"GET\", \"/v3/scrypta/block/hash/%7Bi%7D\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "C",
            "source": "CURL *hnd = curl_easy_init();\n\ncurl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, \"GET\");\ncurl_easy_setopt(hnd, CURLOPT_URL, \"https://api-eu1.tatum.io/v3/scrypta/block/hash/%7Bi%7D\");\n\nstruct curl_slist *headers = NULL;\nheaders = curl_slist_append(headers, \"x-api-key: REPLACE_KEY_VALUE\");\ncurl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);\n\nCURLcode ret = curl_easy_perform(hnd);"
          },
          {
            "lang": "C#",
            "source": "var client = new RestClient(\"https://api-eu1.tatum.io/v3/scrypta/block/hash/%7Bi%7D\");\nvar request = new RestRequest(Method.GET);\nrequest.AddHeader(\"x-api-key\", \"REPLACE_KEY_VALUE\");\nIRestResponse response = client.Execute(request);"
          },
          {
            "lang": "Javascript - jQuery",
            "source": "var settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://api-eu1.tatum.io/v3/scrypta/block/hash/%7Bi%7D\",\n  \"method\": \"GET\",\n  \"headers\": {\n    \"x-api-key\": \"REPLACE_KEY_VALUE\"\n  }\n}\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"
          },
          {
            "lang": "Objective-C",
            "source": "#import <Foundation/Foundation.h>\n\nNSDictionary *headers = @{ @\"x-api-key\": @\"REPLACE_KEY_VALUE\" };\n\nNSMutableURLRequest *request = [NSMutableURLRequest requestWithURL:[NSURL URLWithString:@\"https://api-eu1.tatum.io/v3/scrypta/block/hash/%7Bi%7D\"]\n                                                       cachePolicy:NSURLRequestUseProtocolCachePolicy\n                                                   timeoutInterval:10.0];\n[request setHTTPMethod:@\"GET\"];\n[request setAllHTTPHeaderFields:headers];\n\nNSURLSession *session = [NSURLSession sharedSession];\nNSURLSessionDataTask *dataTask = [session dataTaskWithRequest:request\n                                            completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {\n                                                if (error) {\n                                                    NSLog(@\"%@\", error);\n                                                } else {\n                                                    NSHTTPURLResponse *httpResponse = (NSHTTPURLResponse *) response;\n                                                    NSLog(@\"%@\", httpResponse);\n                                                }\n                                            }];\n[dataTask resume];"
          },
          {
            "lang": "OCaml",
            "source": "open Cohttp_lwt_unix\nopen Cohttp\nopen Lwt\n\nlet uri = Uri.of_string \"https://api-eu1.tatum.io/v3/scrypta/block/hash/%7Bi%7D\" in\nlet headers = Header.add (Header.init ()) \"x-api-key\" \"REPLACE_KEY_VALUE\" in\n\nClient.call ~headers `GET uri\n>>= fun (res, body_stream) ->\n  (* Do stuff with the result *)"
          },
          {
            "lang": "Ruby",
            "source": "require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://api-eu1.tatum.io/v3/scrypta/block/hash/%7Bi%7D\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Get.new(url)\nrequest[\"x-api-key\"] = 'REPLACE_KEY_VALUE'\n\nresponse = http.request(request)\nputs response.read_body"
          },
          {
            "lang": "Swift",
            "source": "import Foundation\n\nlet headers = [\"x-api-key\": \"REPLACE_KEY_VALUE\"]\n\nlet request = NSMutableURLRequest(url: NSURL(string: \"https://api-eu1.tatum.io/v3/scrypta/block/hash/%7Bi%7D\")! as URL,\n                                        cachePolicy: .useProtocolCachePolicy,\n                                    timeoutInterval: 10.0)\nrequest.httpMethod = \"GET\"\nrequest.allHTTPHeaderFields = headers\n\nlet session = URLSession.shared\nlet dataTask = session.dataTask(with: request as URLRequest, completionHandler: { (data, response, error) -> Void in\n  if (error != nil) {\n    print(error)\n  } else {\n    let httpResponse = response as? HTTPURLResponse\n    print(httpResponse)\n  }\n})\n\ndataTask.resume()"
          }
        ],
        "summary": "Get Block hash",
        "tags": [
          "Blockchain / Scrypta"
        ]
      }
    },
    "/v3/scrypta/block/{hash}": {
      "get": {
        "description": "<h4>1 credit per API call.</h4><br/><p>Get Scrypta Block detail by block hash or height.</p>",
        "operationId": "ScryptaGetBlock",
        "parameters": [
          {
            "description": "Block hash or height.",
            "in": "path",
            "name": "hash",
            "required": true,
            "schema": {
              "type": "string",
              "example": "00000000ca231a439a5c0a86a5a5dd6dc1918a8e897b96522fa9499288e70183"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScryptaBlock"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            },
            "description": "Bad Request. Validation failed for the given object in the HTTP Body or Request parameters."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Error401NotActive"
                    },
                    {
                      "$ref": "#/components/schemas/Error401Invalid"
                    }
                  ]
                }
              }
            },
            "description": "Unauthorized. Not valid or inactive subscription key present in the HTTP Header."
          },
          "403": {
            "description": "Forbidden. The request is authenticated, but it is not possible to required perform operation due to logical error or invalid permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403BlockNotExists"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error500"
                }
              }
            },
            "description": "Internal server error. There was an error on the server during the processing of the request."
          }
        },
        "security": [
          {
            "X-Api-Key": []
          }
        ],
        "x-code-samples": [
          {
            "lang": "cURL",
            "source": "curl --request GET \\\n  --url https://api-eu1.tatum.io/v3/scrypta/block/%7Bhash%7D \\\n  --header 'x-api-key: REPLACE_KEY_VALUE'"
          },
          {
            "lang": "Node",
            "source": "var http = require(\"https\");\n\nvar options = {\n  \"method\": \"GET\",\n  \"hostname\": \"api-eu1.tatum.io\",\n  \"port\": null,\n  \"path\": \"/v3/scrypta/block/%7Bhash%7D\",\n  \"headers\": {\n    \"x-api-key\": \"REPLACE_KEY_VALUE\"\n  }\n};\n\nvar req = http.request(options, function (res) {\n  var chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    var body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"
          },
          {
            "lang": "Java",
            "source": "HttpResponse<String> response = Unirest.get(\"https://api-eu1.tatum.io/v3/scrypta/block/%7Bhash%7D\")\n  .header(\"x-api-key\", \"REPLACE_KEY_VALUE\")\n  .asString();"
          },
          {
            "lang": "Go",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api-eu1.tatum.io/v3/scrypta/block/%7Bhash%7D\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"x-api-key\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "lang": "PHP",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => \"https://api-eu1.tatum.io/v3/scrypta/block/%7Bhash%7D\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => array(\n    \"x-api-key: REPLACE_KEY_VALUE\"\n  ),\n));\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
          },
          {
            "lang": "Python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"api-eu1.tatum.io\")\n\nheaders = { 'x-api-key': \"REPLACE_KEY_VALUE\" }\n\nconn.request(\"GET\", \"/v3/scrypta/block/%7Bhash%7D\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "C",
            "source": "CURL *hnd = curl_easy_init();\n\ncurl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, \"GET\");\ncurl_easy_setopt(hnd, CURLOPT_URL, \"https://api-eu1.tatum.io/v3/scrypta/block/%7Bhash%7D\");\n\nstruct curl_slist *headers = NULL;\nheaders = curl_slist_append(headers, \"x-api-key: REPLACE_KEY_VALUE\");\ncurl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);\n\nCURLcode ret = curl_easy_perform(hnd);"
          },
          {
            "lang": "C#",
            "source": "var client = new RestClient(\"https://api-eu1.tatum.io/v3/scrypta/block/%7Bhash%7D\");\nvar request = new RestRequest(Method.GET);\nrequest.AddHeader(\"x-api-key\", \"REPLACE_KEY_VALUE\");\nIRestResponse response = client.Execute(request);"
          },
          {
            "lang": "Javascript - jQuery",
            "source": "var settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://api-eu1.tatum.io/v3/scrypta/block/%7Bhash%7D\",\n  \"method\": \"GET\",\n  \"headers\": {\n    \"x-api-key\": \"REPLACE_KEY_VALUE\"\n  }\n}\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"
          },
          {
            "lang": "Objective-C",
            "source": "#import <Foundation/Foundation.h>\n\nNSDictionary *headers = @{ @\"x-api-key\": @\"REPLACE_KEY_VALUE\" };\n\nNSMutableURLRequest *request = [NSMutableURLRequest requestWithURL:[NSURL URLWithString:@\"https://api-eu1.tatum.io/v3/scrypta/block/%7Bhash%7D\"]\n                                                       cachePolicy:NSURLRequestUseProtocolCachePolicy\n                                                   timeoutInterval:10.0];\n[request setHTTPMethod:@\"GET\"];\n[request setAllHTTPHeaderFields:headers];\n\nNSURLSession *session = [NSURLSession sharedSession];\nNSURLSessionDataTask *dataTask = [session dataTaskWithRequest:request\n                                            completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {\n                                                if (error) {\n                                                    NSLog(@\"%@\", error);\n                                                } else {\n                                                    NSHTTPURLResponse *httpResponse = (NSHTTPURLResponse *) response;\n                                                    NSLog(@\"%@\", httpResponse);\n                                                }\n                                            }];\n[dataTask resume];"
          },
          {
            "lang": "OCaml",
            "source": "open Cohttp_lwt_unix\nopen Cohttp\nopen Lwt\n\nlet uri = Uri.of_string \"https://api-eu1.tatum.io/v3/scrypta/block/%7Bhash%7D\" in\nlet headers = Header.add (Header.init ()) \"x-api-key\" \"REPLACE_KEY_VALUE\" in\n\nClient.call ~headers `GET uri\n>>= fun (res, body_stream) ->\n  (* Do stuff with the result *)"
          },
          {
            "lang": "Ruby",
            "source": "require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://api-eu1.tatum.io/v3/scrypta/block/%7Bhash%7D\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Get.new(url)\nrequest[\"x-api-key\"] = 'REPLACE_KEY_VALUE'\n\nresponse = http.request(request)\nputs response.read_body"
          },
          {
            "lang": "Swift",
            "source": "import Foundation\n\nlet headers = [\"x-api-key\": \"REPLACE_KEY_VALUE\"]\n\nlet request = NSMutableURLRequest(url: NSURL(string: \"https://api-eu1.tatum.io/v3/scrypta/block/%7Bhash%7D\")! as URL,\n                                        cachePolicy: .useProtocolCachePolicy,\n                                    timeoutInterval: 10.0)\nrequest.httpMethod = \"GET\"\nrequest.allHTTPHeaderFields = headers\n\nlet session = URLSession.shared\nlet dataTask = session.dataTask(with: request as URLRequest, completionHandler: { (data, response, error) -> Void in\n  if (error != nil) {\n    print(error)\n  } else {\n    let httpResponse = response as? HTTPURLResponse\n    print(httpResponse)\n  }\n})\n\ndataTask.resume()"
          }
        ],
        "summary": "Get Block by hash or height",
        "tags": [
          "Blockchain / Scrypta"
        ]
      }
    },
    "/v3/scrypta/transaction/{hash}": {
      "get": {
        "description": "<h4>1 credit per API call.</h4><br/><p>Get Scrypta Transaction detail by transaction hash.</p>",
        "operationId": "ScryptaGetRawTransaction",
        "parameters": [
          {
            "description": "Transaction hash",
            "in": "path",
            "name": "hash",
            "required": true,
            "schema": {
              "type": "string",
              "example": "1451692ebbfbea1a2d2ec6fe6782596b6aa2e46c0589d04c406f491b5b46bc6a"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScryptaTx"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            },
            "description": "Bad Request. Validation failed for the given object in the HTTP Body or Request parameters."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Error401NotActive"
                    },
                    {
                      "$ref": "#/components/schemas/Error401Invalid"
                    }
                  ]
                }
              }
            },
            "description": "Unauthorized. Not valid or inactive subscription key present in the HTTP Header."
          },
          "403": {
            "description": "Forbidden. The request is authenticated, but it is not possible to required perform operation due to logical error or invalid permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Error403ScryptaBlockchain"
                    },
                    {
                      "$ref": "#/components/schemas/Error403TxNotFound"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error500"
                }
              }
            },
            "description": "Internal server error. There was an error on the server during the processing of the request."
          }
        },
        "security": [
          {
            "X-Api-Key": []
          }
        ],
        "x-code-samples": [
          {
            "lang": "cURL",
            "source": "curl --request GET \\\n  --url https://api-eu1.tatum.io/v3/scrypta/transaction/%7Bhash%7D \\\n  --header 'x-api-key: REPLACE_KEY_VALUE'"
          },
          {
            "lang": "Node",
            "source": "var http = require(\"https\");\n\nvar options = {\n  \"method\": \"GET\",\n  \"hostname\": \"api-eu1.tatum.io\",\n  \"port\": null,\n  \"path\": \"/v3/scrypta/transaction/%7Bhash%7D\",\n  \"headers\": {\n    \"x-api-key\": \"REPLACE_KEY_VALUE\"\n  }\n};\n\nvar req = http.request(options, function (res) {\n  var chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    var body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"
          },
          {
            "lang": "Java",
            "source": "HttpResponse<String> response = Unirest.get(\"https://api-eu1.tatum.io/v3/scrypta/transaction/%7Bhash%7D\")\n  .header(\"x-api-key\", \"REPLACE_KEY_VALUE\")\n  .asString();"
          },
          {
            "lang": "Go",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api-eu1.tatum.io/v3/scrypta/transaction/%7Bhash%7D\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"x-api-key\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "lang": "PHP",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => \"https://api-eu1.tatum.io/v3/scrypta/transaction/%7Bhash%7D\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => array(\n    \"x-api-key: REPLACE_KEY_VALUE\"\n  ),\n));\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
          },
          {
            "lang": "Python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"api-eu1.tatum.io\")\n\nheaders = { 'x-api-key': \"REPLACE_KEY_VALUE\" }\n\nconn.request(\"GET\", \"/v3/scrypta/transaction/%7Bhash%7D\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "C",
            "source": "CURL *hnd = curl_easy_init();\n\ncurl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, \"GET\");\ncurl_easy_setopt(hnd, CURLOPT_URL, \"https://api-eu1.tatum.io/v3/scrypta/transaction/%7Bhash%7D\");\n\nstruct curl_slist *headers = NULL;\nheaders = curl_slist_append(headers, \"x-api-key: REPLACE_KEY_VALUE\");\ncurl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);\n\nCURLcode ret = curl_easy_perform(hnd);"
          },
          {
            "lang": "C#",
            "source": "var client = new RestClient(\"https://api-eu1.tatum.io/v3/scrypta/transaction/%7Bhash%7D\");\nvar request = new RestRequest(Method.GET);\nrequest.AddHeader(\"x-api-key\", \"REPLACE_KEY_VALUE\");\nIRestResponse response = client.Execute(request);"
          },
          {
            "lang": "Javascript - jQuery",
            "source": "var settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://api-eu1.tatum.io/v3/scrypta/transaction/%7Bhash%7D\",\n  \"method\": \"GET\",\n  \"headers\": {\n    \"x-api-key\": \"REPLACE_KEY_VALUE\"\n  }\n}\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"
          },
          {
            "lang": "Objective-C",
            "source": "#import <Foundation/Foundation.h>\n\nNSDictionary *headers = @{ @\"x-api-key\": @\"REPLACE_KEY_VALUE\" };\n\nNSMutableURLRequest *request = [NSMutableURLRequest requestWithURL:[NSURL URLWithString:@\"https://api-eu1.tatum.io/v3/scrypta/transaction/%7Bhash%7D\"]\n                                                       cachePolicy:NSURLRequestUseProtocolCachePolicy\n                                                   timeoutInterval:10.0];\n[request setHTTPMethod:@\"GET\"];\n[request setAllHTTPHeaderFields:headers];\n\nNSURLSession *session = [NSURLSession sharedSession];\nNSURLSessionDataTask *dataTask = [session dataTaskWithRequest:request\n                                            completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {\n                                                if (error) {\n                                                    NSLog(@\"%@\", error);\n                                                } else {\n                                                    NSHTTPURLResponse *httpResponse = (NSHTTPURLResponse *) response;\n                                                    NSLog(@\"%@\", httpResponse);\n                                                }\n                                            }];\n[dataTask resume];"
          },
          {
            "lang": "OCaml",
            "source": "open Cohttp_lwt_unix\nopen Cohttp\nopen Lwt\n\nlet uri = Uri.of_string \"https://api-eu1.tatum.io/v3/scrypta/transaction/%7Bhash%7D\" in\nlet headers = Header.add (Header.init ()) \"x-api-key\" \"REPLACE_KEY_VALUE\" in\n\nClient.call ~headers `GET uri\n>>= fun (res, body_stream) ->\n  (* Do stuff with the result *)"
          },
          {
            "lang": "Ruby",
            "source": "require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://api-eu1.tatum.io/v3/scrypta/transaction/%7Bhash%7D\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Get.new(url)\nrequest[\"x-api-key\"] = 'REPLACE_KEY_VALUE'\n\nresponse = http.request(request)\nputs response.read_body"
          },
          {
            "lang": "Swift",
            "source": "import Foundation\n\nlet headers = [\"x-api-key\": \"REPLACE_KEY_VALUE\"]\n\nlet request = NSMutableURLRequest(url: NSURL(string: \"https://api-eu1.tatum.io/v3/scrypta/transaction/%7Bhash%7D\")! as URL,\n                                        cachePolicy: .useProtocolCachePolicy,\n                                    timeoutInterval: 10.0)\nrequest.httpMethod = \"GET\"\nrequest.allHTTPHeaderFields = headers\n\nlet session = URLSession.shared\nlet dataTask = session.dataTask(with: request as URLRequest, completionHandler: { (data, response, error) -> Void in\n  if (error != nil) {\n    print(error)\n  } else {\n    let httpResponse = response as? HTTPURLResponse\n    print(httpResponse)\n  }\n})\n\ndataTask.resume()"
          }
        ],
        "summary": "Get Transaction by hash",
        "tags": [
          "Blockchain / Scrypta"
        ]
      }
    },
    "/v3/scrypta/transaction/address/{address}": {
      "get": {
        "description": "<h4>1 credit per API call.</h4><br/><p>Get Scrypta Transaction by address.</p>",
        "operationId": "ScryptaGetTxByAddress",
        "parameters": [
          {
            "description": "Address",
            "in": "path",
            "name": "address",
            "required": true,
            "schema": {
              "type": "string",
              "example": "2MsM67NLa71fHvTUBqNENW15P68nHB2vVXb"
            }
          },
          {
            "description": "Max number of items per page is 50.",
            "in": "query",
            "name": "pageSize",
            "example": 10,
            "schema": {
              "type": "number",
              "maximum": 50,
              "minimum": 1
            },
            "required": true
          },
          {
            "description": "Offset to obtain next page of the data.",
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ScryptaTx"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            },
            "description": "Bad Request. Validation failed for the given object in the HTTP Body or Request parameters."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Error401NotActive"
                    },
                    {
                      "$ref": "#/components/schemas/Error401Invalid"
                    }
                  ]
                }
              }
            },
            "description": "Unauthorized. Not valid or inactive subscription key present in the HTTP Header."
          },
          "403": {
            "description": "Forbidden. The request is authenticated, but it is not possible to required perform operation due to logical error or invalid permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403ScryptaBlockchain"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error500"
                }
              }
            },
            "description": "Internal server error. There was an error on the server during the processing of the request."
          }
        },
        "security": [
          {
            "X-Api-Key": []
          }
        ],
        "x-code-samples": [
          {
            "lang": "cURL",
            "source": "curl --request GET \\\n  --url 'https://api-eu1.tatum.io/v3/scrypta/transaction/address/%7Baddress%7D?pageSize=SOME_NUMBER_VALUE&offset=SOME_NUMBER_VALUE' \\\n  --header 'x-api-key: REPLACE_KEY_VALUE'"
          },
          {
            "lang": "Node",
            "source": "var http = require(\"https\");\n\nvar options = {\n  \"method\": \"GET\",\n  \"hostname\": \"api-eu1.tatum.io\",\n  \"port\": null,\n  \"path\": \"/v3/scrypta/transaction/address/%7Baddress%7D?pageSize=SOME_NUMBER_VALUE&offset=SOME_NUMBER_VALUE\",\n  \"headers\": {\n    \"x-api-key\": \"REPLACE_KEY_VALUE\"\n  }\n};\n\nvar req = http.request(options, function (res) {\n  var chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    var body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"
          },
          {
            "lang": "Java",
            "source": "HttpResponse<String> response = Unirest.get(\"https://api-eu1.tatum.io/v3/scrypta/transaction/address/%7Baddress%7D?pageSize=SOME_NUMBER_VALUE&offset=SOME_NUMBER_VALUE\")\n  .header(\"x-api-key\", \"REPLACE_KEY_VALUE\")\n  .asString();"
          },
          {
            "lang": "Go",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api-eu1.tatum.io/v3/scrypta/transaction/address/%7Baddress%7D?pageSize=SOME_NUMBER_VALUE&offset=SOME_NUMBER_VALUE\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"x-api-key\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "lang": "PHP",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => \"https://api-eu1.tatum.io/v3/scrypta/transaction/address/%7Baddress%7D?pageSize=SOME_NUMBER_VALUE&offset=SOME_NUMBER_VALUE\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => array(\n    \"x-api-key: REPLACE_KEY_VALUE\"\n  ),\n));\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
          },
          {
            "lang": "Python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"api-eu1.tatum.io\")\n\nheaders = { 'x-api-key': \"REPLACE_KEY_VALUE\" }\n\nconn.request(\"GET\", \"/v3/scrypta/transaction/address/%7Baddress%7D?pageSize=SOME_NUMBER_VALUE&offset=SOME_NUMBER_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "C",
            "source": "CURL *hnd = curl_easy_init();\n\ncurl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, \"GET\");\ncurl_easy_setopt(hnd, CURLOPT_URL, \"https://api-eu1.tatum.io/v3/scrypta/transaction/address/%7Baddress%7D?pageSize=SOME_NUMBER_VALUE&offset=SOME_NUMBER_VALUE\");\n\nstruct curl_slist *headers = NULL;\nheaders = curl_slist_append(headers, \"x-api-key: REPLACE_KEY_VALUE\");\ncurl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);\n\nCURLcode ret = curl_easy_perform(hnd);"
          },
          {
            "lang": "C#",
            "source": "var client = new RestClient(\"https://api-eu1.tatum.io/v3/scrypta/transaction/address/%7Baddress%7D?pageSize=SOME_NUMBER_VALUE&offset=SOME_NUMBER_VALUE\");\nvar request = new RestRequest(Method.GET);\nrequest.AddHeader(\"x-api-key\", \"REPLACE_KEY_VALUE\");\nIRestResponse response = client.Execute(request);"
          },
          {
            "lang": "Javascript - jQuery",
            "source": "var settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://api-eu1.tatum.io/v3/scrypta/transaction/address/%7Baddress%7D?pageSize=SOME_NUMBER_VALUE&offset=SOME_NUMBER_VALUE\",\n  \"method\": \"GET\",\n  \"headers\": {\n    \"x-api-key\": \"REPLACE_KEY_VALUE\"\n  }\n}\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"
          },
          {
            "lang": "Objective-C",
            "source": "#import <Foundation/Foundation.h>\n\nNSDictionary *headers = @{ @\"x-api-key\": @\"REPLACE_KEY_VALUE\" };\n\nNSMutableURLRequest *request = [NSMutableURLRequest requestWithURL:[NSURL URLWithString:@\"https://api-eu1.tatum.io/v3/scrypta/transaction/address/%7Baddress%7D?pageSize=SOME_NUMBER_VALUE&offset=SOME_NUMBER_VALUE\"]\n                                                       cachePolicy:NSURLRequestUseProtocolCachePolicy\n                                                   timeoutInterval:10.0];\n[request setHTTPMethod:@\"GET\"];\n[request setAllHTTPHeaderFields:headers];\n\nNSURLSession *session = [NSURLSession sharedSession];\nNSURLSessionDataTask *dataTask = [session dataTaskWithRequest:request\n                                            completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {\n                                                if (error) {\n                                                    NSLog(@\"%@\", error);\n                                                } else {\n                                                    NSHTTPURLResponse *httpResponse = (NSHTTPURLResponse *) response;\n                                                    NSLog(@\"%@\", httpResponse);\n                                                }\n                                            }];\n[dataTask resume];"
          },
          {
            "lang": "OCaml",
            "source": "open Cohttp_lwt_unix\nopen Cohttp\nopen Lwt\n\nlet uri = Uri.of_string \"https://api-eu1.tatum.io/v3/scrypta/transaction/address/%7Baddress%7D?pageSize=SOME_NUMBER_VALUE&offset=SOME_NUMBER_VALUE\" in\nlet headers = Header.add (Header.init ()) \"x-api-key\" \"REPLACE_KEY_VALUE\" in\n\nClient.call ~headers `GET uri\n>>= fun (res, body_stream) ->\n  (* Do stuff with the result *)"
          },
          {
            "lang": "Ruby",
            "source": "require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://api-eu1.tatum.io/v3/scrypta/transaction/address/%7Baddress%7D?pageSize=SOME_NUMBER_VALUE&offset=SOME_NUMBER_VALUE\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Get.new(url)\nrequest[\"x-api-key\"] = 'REPLACE_KEY_VALUE'\n\nresponse = http.request(request)\nputs response.read_body"
          },
          {
            "lang": "Swift",
            "source": "import Foundation\n\nlet headers = [\"x-api-key\": \"REPLACE_KEY_VALUE\"]\n\nlet request = NSMutableURLRequest(url: NSURL(string: \"https://api-eu1.tatum.io/v3/scrypta/transaction/address/%7Baddress%7D?pageSize=SOME_NUMBER_VALUE&offset=SOME_NUMBER_VALUE\")! as URL,\n                                        cachePolicy: .useProtocolCachePolicy,\n                                    timeoutInterval: 10.0)\nrequest.httpMethod = \"GET\"\nrequest.allHTTPHeaderFields = headers\n\nlet session = URLSession.shared\nlet dataTask = session.dataTask(with: request as URLRequest, completionHandler: { (data, response, error) -> Void in\n  if (error != nil) {\n    print(error)\n  } else {\n    let httpResponse = response as? HTTPURLResponse\n    print(httpResponse)\n  }\n})\n\ndataTask.resume()"
          }
[...]
